<div class="form-group row">
  <div class="col-sm-offset-2 col-sm-10">
    <% unless local_assigns[:no_continue] %>
      <%= f.button 'CONTINUE', value: Management::PageStepsController::CONTINUE, type: 'submit', class: 'btn btn-primary' %>
    <% end %>
    <% if @page.id %>
        <%= f.button 'SAVE CHANGES', value: Management::PageStepsController::SAVE, type: 'submit', class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'CANCEL', management_site_site_pages_path(@site.slug), class: 'btn btn-secondary' %>
  </div>
</div>
