<div class="c-content">
  <div class="wrapper">
    <div class="js-content"></div>
    <input type="hidden" class="js-json-content" value="<%= OpenStruct.new(@page.content).json unless @page.content.blank? || OpenStruct.new(@page.content).json.blank? %>" />
  </div>
</div>

<%= form_for @page, url: wizard_path, method: :put do |f| %>
  <%= render partial: 'management/steps_shared/finish_footer', locals: {f: f} %>
<% end %>

<script type="text/javascript">
  window.route = 'OpenContent';
</script>
