<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <div class="description">
        <h1>Access restricted</h1>
        <p>You don't have the permission to access this section</p>
      </div>
    </div>
  </div>
<% end %>

<div class="wrapper">
  <p>Please contact an admin if you think you should be granted access</p>
</div>
