.c-centered-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  label {
    display: inline-block;
    position: relative;
    margin-right: 55px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  input {
    width: 250px;
    height: 44px;
    padding: 0 15px;
    border: 1px solid $color-7;
    border-radius: 4px;
    background: transparent;
    font-size: $font-size-x-normal;
    font-weight: $font-weight-light;
    line-height: 44px;

    &[type="color"] {
      max-width: 100px;

      &::-webkit-color-swatch-wrapper {
        padding: 10px 0;
      }
    }
  }
}
