.c-urls-input {
  > .container {
    position: relative;
  }

  .remove-url {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    border: 0;
    background: asset-url('icons/close-icon.svg') no-repeat center center;
    text-indent: -10000px; // For accessibility, we should keep the text
    cursor: pointer;

    &:focus {
      outline: solid 2px $color-1;
    }
  }

  .add-url {
    width: 100%;
    height: 45px;
    border: 2px dashed $color-13;
    border-radius: 7px;
    background: transparent;
    color: $color-4;
    font-family: $font-family-1;
    font-size: $font-size-normal;
    letter-spacing: .1px;
    text-transform: uppercase;
    cursor: pointer;

    &:focus {
      border-color: $color-1;
    }
  }
}
