<div class="js-tabs"></div>
<div class="wrapper">
  <div class="js-tree"></div>

  <%= include_gon %>

  <%= link_to 'Save', management_site_site_pages_path, class: 'btn btn-primary' %>
</div>

<%= console if Rails.env.development? %>
