.c-action-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: $body-max-width;
  height: 60px;
  background-color: $color-2;
  z-index: 10;

  @media #{$mq-body-width} {
    left: 50%;
    transform: translateX(-50%);
  }

  &.-wide {
    @media #{$mq-body-width} {
      left: 0;
      width: 100vw;
      max-width: none;
      padding: 0 calc((100vw - #{$body-max-width}) / 2);
      transform: none;
    }
    }

  > .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}
