.c-action-toolbar {
  display: flex;
  // Align items to the right, as we dont always have buttons in the toolbar and search is on right
  align-items: right;
  justify-content: flex-end;
  margin: 30px 0;

  > .buttons {

    > li {
      max-width: 230px;

      &:not(:last-of-type) {
        margin-right: 40px;
      }
    }

  }

  > .filters {

    > li {
      width: 230px;

      &:not(:last-of-type) {
        margin-right: 40px;
      }
    }

  }
}
