.c-button {
  padding: 10px 25px;
  border: 1px solid;
  border-radius: 20px;
  color: $color-3;
  font-family: $font-family-1; // Mandatory for button.c-button
  font-size: $font-size-normal; // Mandatory for button.c-button
  font-weight: $font-weight-bold;
  cursor: pointer;

  @if $theme == 2 {
    border-color: $color-10;
    background: $color-10;
    text-transform: uppercase;
  } @else {
    border-color: transparent;
    background: rgba($color-1, .1);
  }

  &.-outline {
    background: transparent;
  }

  &.-dark-text {
    color: $color-4;
  }

  &.-normal-weight {
    font-weight: $font-weight-normal;
  }

  &.-disabled {
    cursor: default;
    opacity: .3;
  }
}
