.c-button {
  padding: 10px 25px;
  border: 1px solid;
  border-radius: 20px;
  border-color: $color-1;
  background: $color-1;
  color: $color-3;
  font-family: $font-family-1; // Mandatory for button.c-button
  font-size: $font-size-normal; // Mandatory for button.c-button
  font-weight: $font-weight-bold;
  cursor: pointer;

  @if $theme == 2 {
    text-transform: uppercase;
  }

  &.-monochrome {
    border-color: $color-4;
    background: $color-4;
    &.-outline { color: $color-4; }
  }

  &.-outline {
    background: transparent;
  }

  &.-dark-text {
    color: $color-4;
  }

  &.-normal-weight {
    font-weight: $font-weight-normal;
  }

  &.-disabled,
  &[disabled] {
    cursor: default;
    opacity: .3;
  }

  &.-arrow-left {
    position: relative;
    text-indent: -10000px;

    &::before {
      display: block;
      position: absolute;
      top: calc(50% - 10px);
      right: 50%;
      width: 2px;
      height: 8px;
      transform: translate(0, 100%) rotate(-45deg) ;
      background-color: $color-4;
      content: '';
    }

    &::after {
      display: block;
      position: absolute;
      top: calc(50% + 2px);
      right: 50%;
      width: 2px;
      height: 8px;
      transform: translate(0, -100%) rotate(45deg);
      background-color: $color-4;
      content: '';
    }
  }

  &.-arrow-right {
    position: relative;
    text-indent: -10000px;

    &::before {
      display: block;
      position: absolute;
      top: calc(50% - 10px);
      right: 50%;
      width: 2px;
      height: 8px;
      transform: translate(50%, 100%) rotate(45deg) ;
      background-color: $color-4;
      content: '';
    }

    &::after {
      display: block;
      position: absolute;
      top: calc(50% + 2px);
      right: 50%;
      width: 2px;
      height: 8px;
      transform: translate(50%, -100%) rotate(-45deg);
      background-color: $color-4;
      content: '';
    }
  }

  &.-mini {
    height: 24px;
    padding: 0 10px;
    background-color: $color-16;
    color: $color-4;
    font-size: $font-size-small;
    font-weight: $font-weight-normal;

    &.-arrow-left,
    &.-arrow-right {
      width: 32px;
      padding: 0;
    }
  }

  &.toggle-visibility-button {
    z-index: 700; // This value depends on the map's z-index
    display: block;
    border: 0;
    background: image-url('icons/eye-icon.svg') no-repeat center center;
    background-size: contain;
    text-indent: -10000px; // For accessibility, the text should stay visible
    cursor: pointer;
    height: 24px;
    padding: 18px;

    &.-in-map {
      position: absolute;
      bottom: 15px;
      right: 50px;
    }

    &.-slashed {
      background: image-url('icons/slashed-eye-icon.svg') no-repeat center center;
      background-size: contain;
    }
  }
}
