.c-checkbox {
  label {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 25px;
      height: 25px;
      transform: translateY(- 50%);
      border: 1px solid $color-13;
      border-radius: 4px;
      content: '';
    }

    &::after {
      border: 0;
      background: asset-url('icons/check-icon.svg') no-repeat center center;
      content: none;
    }
  }

  input {
    // For accessibility reasons (tabindex), the input cannot be just hidden
    // using display: none;
    position: absolute;
    left: -100000px; // Can't change the top property otherwise the browser scrolls when the user clicks the label
    opacity: 0;

    &:focus {
      + label {
        &::before {
          border-color: $color-1;
        }
      }
    }

    &:checked {
      + label {
        &::after {
          content: '';
        }
      }
    }
  }
}
