.c-chart-widget {
  width: 100%;

  > .chart {
    width: 100%;
    overflow: hidden;
  }

  > .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    @media #{$mq-tablet} {
      margin-top: 20px;
    }
  }
}
