// TODO: This file needs to be cleaned to remove the old markup that used classes
// but before to do so, we need to make sure all the content have been moved, especially
// the homepage
.c-content {
  margin: 50px 0 60px;

  @media #{$mq-mobile} {
    margin: 60px 0 90px;
  }

  // Undoing some styles of the wysiwyg editor
  .ql-disabled {
    font-family: inherit;

    @if $theme == 3 {
      font-size: $font-size-normal;
    } @else {
      font-size: inherit;
    }

    .ql-editor {
      padding: 0;
      line-height: inherit;
      white-space: initial;
      overflow: visible;
    }

    .ql-tooltip {
      display: none;
    }
  }

  h1,
  h2,
  h3,
  p,
  blockquote,
  ul,
  ol,
  .-intro {
    max-width: 1080px;
    margin: 0 auto;
  }

  h1 {
    margin: 20px auto 5px;
    font-size: $font-size-medium;
    letter-spacing: .2px;

    @media #{$mq-mobile} {
      font-size: $font-size-big;
    }

    @media #{$mq-tablet} {
      font-size: $font-size-x-big;
    }

    @if $theme == 3 {
      color: $color-4;
      font-weight: $font-weight-bold;
      line-height: 1.25;
    }

    @if $theme == 2 {
      color: $color-4;
      font-weight: $font-weight-light;
    }

    @if $theme == 1 {
      color: $color-1;
      font-family: $font-family-2;
      font-weight: $font-weight-bold;
      line-height: 1.25;
    }
  }

  h2 {
    margin: 20px auto 5px;
    font-size: $font-size-x-normal;
    font-weight: $font-weight-normal;
    line-height: 1.7;

    @if $theme == 3 {
      color: $color-4;
    }

    @if $theme == 2 {
      color: $color-4;
      letter-spacing: .2px;
    }

    @if $theme == 1 {
      color: $color-1;
      letter-spacing: -.3px;
    }
  }

  p,
  .-intro {
    letter-spacing: .1px;

    & + .paragraph,
    & + p,
    & + .-intro {
      margin: 20px auto 0;
    }
  }

  .-intro {
    font-size: $font-size-x-normal;

    @if $theme == 2 {
      font-weight: $font-weight-light;
    }
  }

  a {
    color: $color-1;
    text-decoration: none;
    background-color: transparent;
  }

  ul,
  ol {
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;

    li {
      display: list-item;
      line-height: 2;

      &::before {
        font-family: $font-family-1;
      }
    }
  }

  blockquote {
    margin: 30px auto;
    font-size: $font-size-x-normal;
    font-weight: $font-weight-light;
    font-style: italic;

    &::before {
      content: '“';
    }

    &::after {
      content: '”';
    }

    @media #{$mq-mobile} {
      margin: 60px auto;
      font-size: $font-size-medium;
    }

    @if $theme == 3 {
      color: $color-4;
      line-height: 1.5;

      @media #{$mq-mobile} {
        line-height: 1.25;
      }
    }

    @if $theme == 2 {
      color: $color-4;
      letter-spacing: .2px;
      line-height: 1.1;
    }

    @if $theme == 1 {
      color: $color-1;
      font-family: $font-family-2;
      line-height: 1.5;

      @media #{$mq-mobile} {
        line-height: 1.25;
      }
    }
  }

  // Adds a lot of margin to the images on the homepage
  // .-image {
  //   margin: 50px 0;
  //   text-align: center;

  //   > div {
  //     display: inline-block;

  //     @media #{$mq-mobile} {
  //       margin: 0 auto;
  //     }

  //     @media #{$mq-laptop} {
  //       max-width: $content-max-width;
  //     }
  //   }

  //   &.-large > div {
  //     @media #{$mq-laptop} {
  //       max-width: $media-max-width;
  //     }
  //   }

  //   &.-cover {
  //     width: $body-max-width;
  //     margin-left: #{-1 * $wrapper-padding};

  //     > div {
  //       @media #{$mq-laptop} {
  //         max-width: $body-max-width;
  //       }
  //     }
  //   }

  //   img {
  //     display: block;
  //     max-width: 100%;

  //     @media #{$mq-laptop} {
  //       // If you update the next line, make sure to update the
  //       // default parameters of the wysiwyg view
  //       max-height: $content-max-width * $image-ratio;
  //     }
  //   }

  //   &.-large img {
  //     @media #{$mq-laptop} {
  //       max-height: $media-max-width * $image-ratio;
  //     }
  //   }

  //   &.-cover img {
  //     @media #{$mq-laptop} {
  //       max-height: $body-max-width * $image-ratio;
  //     }
  //   }

  //   .caption {
  //     display: block;
  //     width: 100%;
  //     max-width: 100%;
  //     margin-top: 12px;
  //     font-size: $font-size-s-normal;
  //     font-style: italic;
  //     font-weight: $font-weight-light;
  //     text-align: right;

  //     @if $theme == 1 {
  //       font-family: $font-family-2;
  //     }

  //     @media #{$mq-mobile} {
  //       margin-top: 12px;
  //     }
  //   }
  // }

  .-widget {
    width: 100%;
    margin: 50px 0;

    @media #{$mq-mobile} {
      margin: 50px auto;
    }

    @media #{$mq-laptop} {
      width: $content-max-width;
    }

    &.-large {
      @media #{$mq-laptop} {
        width: $media-max-width;
      }
    }

    &.-cover {
      @media #{$mq-laptop} {
        width: $body-max-width;
        margin-left: #{-1 * $wrapper-padding};
      }
    }

    .widget-container {
      position: relative;
      padding: 20px 20px 10px;
      border: 1px solid $color-13;

      @media #{$mq-laptop} {
        padding: 60px 60px 40px;
      }

      .error {
        text-align: center;
      }

      .metadata-button {
        position: absolute;
        right: 60px;
      }
    }

    .caption {
      display: block;
      width: 100%;
      max-width: 100%;
      margin-top: 12px;
      font-size: $font-size-s-normal;
      font-style: italic;
      font-weight: $font-weight-light;
      text-align: right;

      @if $theme == 1 {
        font-family: $font-family-2;
      }

      @media #{$mq-mobile} {
        margin: 0 auto;
        margin-top: 12px;
      }

      @media #{$mq-laptop} {
        max-width: $media-max-width;
      }
    }
  }

  .-raw-html {
    .embed-container {
      position: relative;
      height: 500px;
      display: block;
      margin: 0 auto;
      padding: 0;
    }

    iframe {
      display: block;
      margin: 0 auto;

      & + p {
        text-align: center;
      }
    }
  }
}
