// TODO: This file needs to be cleaned to remove the old markup that used classes
// but before to do so, we need to make sure all the content have been moved, especially
// the homepage
.c-content {
  margin: 50px 0 60px;

  @media #{$mq-mobile} {
    margin: 60px 0 90px;
  }

  @media print {
    margin: 0;
  }

  // Undoing some styles of the wysiwyg editor
  .ql-disabled {
    font-family: inherit;
    font-size: inherit;

    .ql-editor {
      padding: 0;
      line-height: inherit;
      white-space: initial;
      overflow: visible;
    }

    .ql-tooltip {
      display: none;
    }
  }

  h1,
  h2,
  h3,
  p,
  blockquote,
  ul,
  ol,
  .-intro {
    max-width: 1080px;
    margin: 0 auto;
    font-family: $heading-font;
  }

  h1 {
    margin: 20px auto 5px;
    font-size: $font-size-medium;
    letter-spacing: 0.2px;
    color: $color-4;
    font-weight: $font-weight-bold;
    line-height: 1.25;

    @media #{$mq-mobile} {
      font-size: $font-size-big;
    }

    @media #{$mq-tablet} {
      font-size: $font-size-x-big;
    }
  }

  h2 {
    margin: 20px auto 5px;
    font-size: $font-size-x-normal;
    font-weight: $font-weight-normal;
    line-height: 1.7;
    color: $color-4;
  }

  p,
  .-intro {
    letter-spacing: 0.1px;

    & + .paragraph,
    & + p,
    & + .-intro {
      margin: 20px auto 0;
    }
  }

  .-intro {
    font-size: $font-size-x-normal;
  }

  a {
    color: $accent-color;
    text-decoration: none;
    background-color: transparent;
  }

  ul,
  ol {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    li {
      display: list-item;
      line-height: 2;

      &::before {
        font-family: $content-font;
      }
    }
  }

  blockquote {
    margin: 40px auto !important;
    padding: 0 10px !important;
    font-size: $font-size-big !important;
    font-weight: $font-weight-light;
    font-style: italic;
    border-left: none !important;
    color: $color-4;
    line-height: 1.5;

    @media #{$mq-mobile} {
      line-height: 1.25;
    }

    &::before {
      content: "“";
    }

    &::after {
      content: "”";
    }

    @media #{$mq-mobile} {
      margin: 60px auto;
      font-size: $font-size-medium;
    }
  }

  .-widget {
    width: 100%;
    margin: 50px 0;

    @media #{$mq-mobile} {
      margin: 50px auto;
    }

    @media #{$mq-laptop} {
      width: $content-max-width;
    }

    &.-large {
      @media #{$mq-laptop} {
        width: $media-max-width;
      }
    }

    &.-cover {
      @media #{$mq-laptop} {
        width: $content-width;
        margin-left: #{-1 * $wrapper-padding};
      }
    }

    .widget-container {
      position: relative;
      padding: 20px 20px 10px;
      border: 1px solid $color-13;

      @media #{$mq-laptop} {
        padding: 60px 60px 40px;
      }

      .error {
        text-align: center;
      }

      .metadata-button {
        position: absolute;
        right: 60px;
      }
    }
  }

  .-raw-html {
    .embed-container {
      position: relative;
      height: 500px;
      display: block;
      margin: 0 auto;
      padding: 0;
    }

    iframe {
      display: block;
      margin: 0 auto;

      & + p {
        text-align: center;
      }
    }
  }
}
