// TODO: This file needs to be cleaned to remove the old markup that used classes
// but before to do so, we need to make sure all the content have been moved, especially
// the homepage
.c-content {
  margin: 50px 0 60px;

  @media #{$mq-mobile} {
    margin: 60px 0 90px;
  }

  // Undoing some styles of the wysiwyg editor
  .ql-disabled {
    font-family: inherit;
    font-size: inherit;

    .ql-editor {
      padding: 0;
      line-height: inherit;
      white-space: initial;
      overflow: visible;
    }

    .ql-tooltip {
      display: none;
    }
  }

  h1,
  h2,
  p,
  blockquote,
  ul,
  ol,
  .-intro {
    max-width: $content-max-width;
    margin: 0 auto;
  }

  h1 {
    margin: 40px auto 10px;
    font-size: $font-size-big;
    letter-spacing: .3px;

    @media #{$mq-mobile} {
      font-size: $font-size-x-big;
    }

    @media #{$mq-tablet} {
      font-size: $font-size-huge;
    }

    @if $theme == 2 {
      color: $color-4;
      font-weight: $font-weight-light;
    } @else {
      color: $color-1;
      font-family: $font-family-2;
      font-weight: $font-weight-bold;
      line-height: 1.25;
    }
  }

  h2 {
    margin: 20px auto 5px;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;

    @if $theme == 2 {
      color: $color-4;
      letter-spacing: .2px;
    } @else {
      color: $color-1;
      letter-spacing: -.3px;
    }
  }

  p,
  .-intro {
    letter-spacing: .1px;

    & + .paragraph,
    & + p,
    & + .-intro {
      margin: 20px auto 0;
    }
  }

  .-intro {
    font-size: $font-size-x-normal;

    @if $theme == 2 {
      font-weight: $font-weight-light;
    }
  }

  ul,
  ol {
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;

    li {
      display: list-item;

      &::before {
        font-family: $font-family-1;
      }
    }
  }

  blockquote {
    margin: 30px auto;
    font-size: $font-size-medium;
    font-weight: $font-weight-light;

    &::before {
      content: '“';
    }

    &::after {
      content: '”';
    }

    @media #{$mq-mobile} {
      margin: 60px auto;
      font-size: $font-size-big;
    }

    @if $theme == 2 {
      color: $color-4;
      letter-spacing: .2px;
      line-height: 1.1;
    } @else {
      color: $color-1;
      font-family: $font-family-2;
      font-style: italic;
      line-height: 1.5;

      @media #{$mq-mobile} {
        line-height: 1.25;
      }
    }
  }

  .-image {
    margin: 50px 0;
    text-align: center;

    > div {
      display: inline-block;

      @media #{$mq-mobile} {
        margin: 0 auto;
      }

      @media #{$mq-laptop} {
        max-width: $content-max-width;
      }
    }

    &.-large > div {
      @media #{$mq-laptop} {
        max-width: $media-max-width;
      }
    }

    &.-cover {
      width: $body-max-width;
      margin-left: #{-1 * $wrapper-padding};

      > div {
        @media #{$mq-laptop} {
          max-width: $body-max-width;
        }
      }
    }

    img {
      display: block;
      max-width: 100%;

      @media #{$mq-laptop} {
        // If you update the next line, make sure to update the
        // default parameters of the wysiwyg view
        max-height: $content-max-width * $image-ratio;
      }
    }

    &.-large img {
      @media #{$mq-laptop} {
        max-height: $media-max-width * $image-ratio;
      }
    }

    &.-cover img {
      @media #{$mq-laptop} {
        max-height: $body-max-width * $image-ratio;
      }
    }

    .caption {
      display: block;
      width: 100%;
      max-width: 100%;
      margin-top: 12px;
      font-size: $font-size-s-normal;
      font-style: italic;
      font-weight: $font-weight-light;
      text-align: right;

      @if $theme == 1 {
        font-family: $font-family-2;
      }

      @media #{$mq-mobile} {
        margin-top: 12px;
      }
    }
  }

  .-widget {
    width: 100%;
    margin: 50px 0;

    @media #{$mq-mobile} {
      margin: 50px auto;
    }

    @media #{$mq-laptop} {
      width: $content-max-width;
    }

    &.-large {
      @media #{$mq-laptop} {
        width: $media-max-width;
      }
    }

    &.-cover {
      @media #{$mq-laptop} {
        width: $body-max-width;
        margin-left: #{-1 * $wrapper-padding};
      }
    }

    .widget-container {
      padding: 20px 20px 10px;
      border: 1px solid $color-13;

      @media #{$mq-laptop} {
        padding: 60px 60px 40px;
      }

      .error {
        text-align: center;
      }
    }

    .caption {
      display: block;
      width: 100%;
      max-width: 100%;
      margin-top: 12px;
      font-size: $font-size-s-normal;
      font-style: italic;
      font-weight: $font-weight-light;
      text-align: right;

      @if $theme == 1 {
        font-family: $font-family-2;
      }

      @media #{$mq-mobile} {
        margin: 0 auto;
        margin-top: 12px;
      }

      @media #{$mq-laptop} {
        max-width: $media-max-width;
      }
    }
  }

  .-raw-html {
    iframe {
      display: block;
      margin: 0 auto;

      & + p {
        text-align: center;
      }
    }
  }
}
