.c-dashboard-bookmarks {
  position: relative;
  max-width: $media-max-width;
  margin: 0 auto;
  font-size: $font-size-small;

  h3 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    transform: translateY(-50%);
    font-size: inherit;
    font-weight: $font-weight-normal;
  }

  > .bookmarks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 160px);
    margin: 0 auto;
    padding: 10px 0;

    > li {
      position: relative;
      height: 27px;
      margin-right: 100px;
      line-height: 27px;
      cursor: pointer;

      &:last-of-type {
        margin-right: 0;
      }

      &.no-bookmark {
        text-align: center;
        opacity: .5;
      }

      &.add-button button {
        padding: 0;
        border: 0;
        background: transparent;
        color: $color-1;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      &.-active,
      &:hover,
      &:focus {
        > div {
          display: block;
        }
      }

      &.-no-active > div {
        display: none;
      }

      > div {
        display: none;
        position: absolute;
        top: 0;
        left: -40px;
        width: calc(100% + 80px);
        height: 100%;

        > button {
          width: 100%;
          height: 100%;
          padding: 0 40px;
          border: 0;
          border-radius: 100px;
          background-color: $color-1;
          color: $color-3;
          font-family: inherit;
          font-size: inherit;
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
      }
    }
  }

  .floating-buttons {
    position: absolute;
    top: 0;
    right: 0px;
    padding-left: 5px;
    transform: translateX(100%);

    button {
      display: inline-block;
      position: relative;
      padding: 0;
      transition: opacity .3s;
      border: 0;
      background-color: transparent;
      text-indent: -10000px; // We keep the text for accessibility matter
      cursor: pointer;

      &.-edit {
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }

      &.-delete {
        width: 10px;
        height: 14px;
      }

      > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        path {
          fill: $color-1;
        }
      }
    }
  }
}
