.c-dashboard-bookmarks {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  max-width: $media-max-width;
  margin: 0 auto;
  font-size: $font-size-small;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 63px;
    width: 10px;
    height: 100%;
    background: linear-gradient(to right, $color-16 30%, rgba($color-16, 0));
    content: '';
    z-index: 1;
  }

  &::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to left, $color-16 30%, rgba($color-16, 0));
    content: '';
    z-index: 1;
  }

  @media #{$mq-tablet} {
    display: block;

    &::before,
    &::after {
      content: none;
    }
  }

  h3 {
    display: inline-block;
    margin: 0;
    font-size: inherit;
    font-weight: $font-weight-normal;

    @media #{$mq-tablet} {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  > .bookmarks {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 10px 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    @media #{$mq-tablet} {
      justify-content: center;
      width: calc(100% - 160px);
      padding: 10px 0;
    }

    > li {
      position: relative;
      flex-shrink: 0;
      height: 27px;
      margin-right: 70px;
      line-height: 27px;
      cursor: pointer;

      &:last-of-type {
        margin-right: 0;
      }

      @media #{$mq-tablet} {
        margin-right: 100px;
      }

      &.no-bookmark {
        display: none;
        text-align: center;
        opacity: .5;

        @media #{$mq-tablet} {
          display: block;
        }
      }

      &.add-button button {
        margin-right: 30px;
        padding: 0;
        border: 0;
        background: transparent;
        color: $color-1;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;

        @media #{$mq-tablet} {
          margin-right: 0;
        }
      }

      &.-active,
      &:hover,
      &:focus {
        > div {
          display: block;
        }
      }

      &.-no-active > div {
        display: none;
      }

      > div {
        display: none;
        position: absolute;
        top: 0;
        left: -20px;
        width: calc(100% + 40px);
        height: 100%;

        @media #{$mq-tablet} {
          left: -40px;
          width: calc(100% + 80px);
        }

        > button {
          width: 100%;
          height: 100%;
          border: 0;
          border-radius: 100px;
          background-color: $color-1;
          color: $color-3;
          font-family: inherit;
          font-size: inherit;
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;

          @media #{$mq-tablet} {
            padding: 0 40px;
          }
        }
      }
    }
  }

  .floating-buttons {
    position: absolute;
    top: 0;
    right: 0px;
    padding-left: 5px;
    transform: translateX(100%);

    button {
      display: inline-block;
      position: relative;
      padding: 0;
      transition: opacity .3s;
      border: 0;
      background-color: transparent;
      text-indent: -10000px; // We keep the text for accessibility matter
      cursor: pointer;

      &.-edit {
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }

      &.-delete {
        width: 10px;
        height: 14px;
      }

      > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        path {
          fill: $color-1;
        }
      }
    }
  }
}
