.c-dashboard-chart-view {
  position: relative; // Limit the size of the spinner's overlay
  min-height: 400px;

  .c-loading-spinner {
    min-height: 400px;

    &::before {
      background-color: transparent;
    }

    &::after {
      border-top-color: $accent-color;
      border-right-color: $accent-color;
    }
  }

  .c-we-chart {
    position: relative; // For the legend
    height: 400px;

    .chart { height: 100%; }
  }
}
