.c-extended-header {
  display: flex;
  align-items: stretch;
  min-height: 165px;
  background-color: $color-6;
  color: rgba($color-3, .5);

  &.-high {
    min-height: 250px;
  }

  h1 {
    color: $color-3;
    font-size: $font-size-huge;
    font-weight: $font-weight-light;
  }

  > .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .two-options {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: $color-9;
      content: '';
    }

    > .description {
      flex-basis: calc(50% - 70px);
    }
  }

  .description {
    max-width: 400px;

    > h1 {
      margin: 0 0 10px;
    }

    > p {
      margin: 0;
      line-height: 1.5;
    }

    > .c-button {
      display: inline-block;
      margin-top: 22px;
    }
  }

  .action-buttons {
    flex-shrink: 0;

    > li {
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
