.c-header-admin {
  height: 50px;
  border-bottom: 1px solid $color-15;
  background-color: $color-6;
  color: rgba($color-3, .5);
  font-weight: bold;
  text-transform: uppercase;

  a {
    color: rgba($color-3, .5);
    text-decoration: none;

    &.-highlight {
      color: $color-1;
    }
  }

  > .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    > div {
      height: 100%;
      line-height: 50px;
    }
  }

  .quick-links {
    display: inline-block;
    height: 100%;

    .c-dropdown-selector {
      height: 100%;
      color: $color-1;

      .active-option::before {
        border-color: $color-1;
      }
    }
  }

  .user-links {
    .c-dropdown-selector .option {
      width: 130px;
    }
  }

  .breadcrumbs {
    > li {
      &::before {
        content: ' /';
      }
    }
  }

  &.-bright {
    background-color: $color-1;
    color: $color-3;

    a {
      color: $color-3;
      &.-highlight { color: $color-3; }
    }

    .breadcrumbs {
      color: rgba($color-3, .5);
    }

    .quick-links .c-dropdown-selector {
      color: $color-3;

      .active-option::before {
        border-color: $color-3;
      }
    }
  }
}


// New dropdown, remove c-dropdown-selector when backbone is removed
.c-dropdown {
  position: relative;

  &:hover .options {
    display: block;
  }

  button {
    cursor: pointer;
    display: block;
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 600;
    text-transform: unset;
    padding: 0;
    line-height: 50px;
    outline: none;
  }

  button:focus ~ ul.options, button:active ~ ul.options {
    display: block;
    opacity: 1;
  }

  .options {
    display: none; // by default
    position: absolute;
    min-width: 150px;
    padding: 0 15px;

    background: #FFF;

    &:hover {display: block; opacity: 1;}

    .option {
      display: block;
      width: 100%;

      color: #555;
      a { color: inherit; }
    }
  }


  &.-right .options { right: 0; }

  &.-right .option {
    text-align: right;
  }

}

