.c-header-admin {
  height: 50px;
  border-bottom: 1px solid $color-15;
  background-color: $color-6;
  color: rgba($color-3, .5);
  font-weight: bold;
  text-transform: uppercase;

  a {
    color: rgba($color-3, .5);
    text-decoration: none;

    &.-highlight {
      color: $color-1;
    }
  }

  > .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    > div {
      height: 100%;
      line-height: 50px;
    }
  }

  .quick-links {
    display: inline-block;
    height: 100%;

    &::after {
      margin: 0 2px 0 5px;
      content: '/';
    }

    .c-dropdown-selector {
      height: 100%;
      color: $color-1;

      .active-option::before {
        border-color: $color-1;
      }
    }
  }

  .breadcrumbs {
    > li {
      &::after {
        content: ' /';
      }

      &:last-of-type {
        &::after {
          content: none;
        }
      }
    }
  }

  &.-bright {
    background-color: $color-1;
    color: $color-3;

    a {
      color: $color-3;
      &.-highlight { color: $color-3; }
    }

    .breadcrumbs {
      color: rgba($color-3, .5);
    }
  }

  .menu {
    > li {
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
