.c-header-admin {
  height: 50px;
  border-bottom: 1px solid $color-9;
  background-color: $color-6;
  color: rgba($color-3, .5);
  font-weight: bold;
  text-transform: uppercase;

  a {
    color: rgba($color-3, .5);
    text-decoration: none;

    &.-highlight {
      color: $color-1;
    }
  }

  > .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .site-switcher {
    display: inline-block;
    margin-right: 10px;
  }

  .breadcrumbs {
    > li {
      &::after {
        content: ' /';
      }

      &:last-of-type {
        &::after {
          content: none;
        }
      }
    }
  }

  .menu {
    > li {
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
