.c-inputs-container {
  width: 100%;
  max-width: 570px;

  &.-large {
    max-width: 880px;
  }

  > .container {
    padding: 25px 35px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: $color-13;

    &:first-of-type {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-of-type {
      border-bottom: 1px solid $color-13;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      letter-spacing: .1px;
      text-transform: uppercase;
    }

    input {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      color: $color-4;
      font-size: $font-size-s-normal;
      line-height: 1.5;
    }

    &.-big input {
      font-size: $font-size-huge;
      font-weight: $font-weight-light;
    }

    > textarea {
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      color: $color-4;
      min-height: 250px;
      font-family: $font-family-1;
      font-size: $font-size-s-normal;
      line-height: 1.5;
    }

    > select {
      width: 100%;
      margin: 0;
      padding: 9px 35px 0 15px;
      min-height: 40px;
      border: 1px solid $color-13;
      border-radius: 4px;
      color: $color-4;
      font-family: $font-family-1;
      font-size: $font-size-normal;
      line-height: 40px;
      background: asset-url('icons/arrow-icon.svg') no-repeat;
      background-size: 12px auto;
      background-position: right 11px center;
      appearance: none;
    }
  }

  > footer {
    padding-top: 20px;

    a {
      color: $color-4;
    }
  }
}
