.c-inputs-container {
  width: 100%;
  max-width: 570px;
  margin-bottom: 40px;

  &.-large {
    max-width: 880px;
  }

  > .container {
    padding: 25px 35px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: $color-13;
    max-width: 100%;

    &:first-of-type {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-of-type {
      border-bottom: 1px solid $color-13;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      letter-spacing: .1px;
      text-transform: uppercase;
    }

    input {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      color: $color-4;
      font-size: $font-size-s-normal;
      line-height: 1.5;
    }

    &.-big input {
      font-size: $font-size-huge;
      font-weight: $font-weight-light;
    }

    > textarea {
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      color: $color-4;
      min-height: 250px;
      font-family: $font-family-1;
      font-size: $font-size-s-normal;
      line-height: 1.5;
    }

    > select {
      width: 100%;
      margin: 0;
      padding: 9px 35px 0 15px;
      min-height: 40px;
      border: 1px solid $color-13;
      border-radius: 4px;
      color: $color-4;
      font-family: $font-family-1;
      font-size: $font-size-normal;
      line-height: 40px;
      background: asset-url('icons/arrow-icon.svg') no-repeat;
      background-size: 12px auto;
      background-position: right 11px center;
      appearance: none;
    }

    .info-button {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjNTU1IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IC41MTJjMi4wNjMgMCAzLjgyNi43MzIgNS4yOSAyLjE5NyAxLjQ2NyAxLjQ2NCAyLjIgMy4yMjcgMi4yIDUuMjkxcy0uNzMyIDMuODI2LTIuMTk3IDUuMjljLTEuNDY2IDEuNDY3LTMuMjI5IDIuMi01LjI5MyAyLjJzLTMuODI2LS43MzItNS4yOS0yLjE5N0MxLjI0MyAxMS44MjcuNTEgMTAuMDY0LjUxIDhzLjczMi0zLjgyNiAyLjE5Ny01LjI5QzQuMTczIDEuMjQzIDUuOTM2LjUxIDggLjUxek03IDdoMnY1SDdWN3ptMC0zaDJ2Mkg3VjR6Ii8+PC9zdmc+Cg==") no-repeat center center;
      border: none;
      border-radius: 100%;
      text-indent: -10000px;
      appearance: none;
      cursor: pointer;
    }

    .preview {
      margin: 15px 0;

      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  > footer {
    padding-top: 20px;

    a {
      color: $color-4;
    }
  }
}
