.c-input {
  display: block;
  width: 100%;
  padding: 20px;
  border: 1px solid rgba($color-4, .3);
  font-size: $font-size-medium;
  text-align: center;
  box-shadow: 0 2px 3px 0 rgba($color-4, .1);
}
