$spinner-size: 30px;
$spinner-width: 3px;
$spinner-color: $color-6;
$spinner-bg-color: $color-5;
$spinner-velocity: 0.6s;

.c-loading-spinner {
  position: relative;
  min-width: $spinner-size;
  min-height: $spinner-size;

  &.-full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.-bg {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba($spinner-bg-color, 0.2);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $spinner-size;
    height: $spinner-size;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: rotate $spinner-velocity linear infinite;
    border: $spinner-width solid transparent;
    border-top-color: $color-6;
    border-right-color: $color-6;
    border-radius: 50%;
  }

  &.-big::after {
    border-width: $spinner-width * 2;
  }

  &.-btn {
    color: transparent;
    pointer-events: none;
    outline: 0;
    &::after {
      border-top-color: $color-2;
      border-right-color: $color-2;
    }
  }
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
