// NOTE:
// This component has been built for the management section, despite being in
// the shared folder. As a consequence, it lacks responsive styles.

.c-modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($color-5, .3);
  z-index: 20;

  > .container {
    position: relative;
    top: 14px;
    width: 100%;
    max-width: calc(100% - #{2 * $wrapper-mobile-padding});
    height: 100%;
    max-height: calc(100% - #{3 * $wrapper-mobile-padding + 14px});
    border-radius: 4px;
    background-color: $color-3;

    @media #{$mq-tablet} {
      max-width: calc(100% - #{2 * $wrapper-tablet-padding});
      max-height: calc(100% - #{3 * $wrapper-tablet-padding + 14px});
    }

    @media #{$mq-laptop} {
      top: 0;
      max-width: 880px;
      max-height: 600px;
    }

    > .close-button {
      display: block;
      position: absolute;
      top: -10px;
      right: 0;
      width: 14px;
      height: 14px;
      margin: 0;
      padding: 0;
      transform: translateY(-100%);
      border: 0;
      background: transparent;
      text-indent: -10000px;
      cursor: pointer;

      svg {
        display: block;
        path { fill: $color-3; }
      }
    }

    > .content {
      height: 100%;
      overflow: auto;
    }
  }

  &.-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}


// NEW REACT MODAL STYLES
// REMOVE THE CODE ABOVE WHEN BACKBONE IS GONE
.modal_react {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50; // To be on top of everything (header included)

  &__wrapper {
    max-width: 530px;
    margin: 50px auto 0 auto;
    position: relative;
  }

  &__body {
    position: relative;

    max-height: calc(100vh - 80px);
    padding: 10px;

    background: #FFF;

    overflow-y: scroll;
    border-radius: 5px;
  }

  &__close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    position: absolute;
    top: -25px;
    background: transparent;
    right: -10px;

    svg {
      width: 40px;
      height: 40px;
      fill: #FFF;
    }

  }

  &__contents {
    padding: 0 10px;
    h1 {
      font-size: 26px;
    }
    p {
      line-height: 1.5em;
      font-size: 14px;
    }
  }

  &__tabledata {
    padding: 10px 0;
    dl {
      display: flex;
      flex-flow: row;
      dt {
        flex: 0.3;
        font-weight: 700;
      }
      dd {
        flex: 0.7;
      }
    }
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;

    background: rgba(00,00,00,0.4);
    z-index: -1;
  }

}
