.c-notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 25px;
  transform: translateY(-100%);
  transition: transform .3s ease-in-out;
  background-color: rgba($color-1, .9);
  z-index: 10;

  @media #{$mq-tablet} {
    height: 66px;
    padding: 0;
  }

  &.-visible {
    transform: translateY(0%);
  }

  &.-dialog {
    padding-left: 0;

    > .wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    .dialog-buttons {
      margin-top: 15px;

      @media #{$mq-tablet} {
        margin-top: 0;
      }
    }
  }

  p {
    margin: 0;
    padding: 0;
    color: $color-3;
    font-size: $font-size-s-normal;
    text-align: center;

    @media #{$mq-tablet} {
      line-height: 66px;
    }
  }

  .close-button {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 25px;
    height: 25px;
    padding: 0;
    transform: translateY(-50%);
    border: 0;
    background: transparent;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;

    path {
      fill: $color-3;
    }
  }

  &.-warning {
    background-color: rgba($color-11, .9);

    p {
      color: $color-4;
    }

    .close-button {
      path {
        fill: $color-4;
      }
    }
  }

  &.-error {
    background-color: rgba($color-12, .9);
  }
}
