$this: 'fa-dashboard';

$dasboard_text__color: #555555;
$dashboard_text__size: 19px;
$dashboard_text_line: 32px;
$dashboard_text_weight: 300;
$dashboard_text_width: $content-max-width;

.#{$this} {
  margin: 0 auto;
  // The next line breaks the tooltip of the bookmark bar
  // of the dashboard v2
  // overflow: hidden;

  @if not $theme == 3 {
    max-width: $body-max-width;
  }

  ul { list-style-type: none; }

  .ql-container.ql-disabled .ql-tooltip {
    display: none;
  }

  // https://type-scale.com/
  .legacy-dashboard {
    .ql-editor h1, h1 { font-size: 3.998em; }
    .ql-editor h2, h2 { font-size: 2.827em; }
    .ql-editor h3, h3 { font-size: 1.999em; }
    .ql-editor h4, h4 { font-size: 1.414em; }
    .ql-editor h5, h5 { font-size: 1em; }

    .ql-editor h1, h2, h3, h1, h2, h3 {
      text-align: center;
      color: $dasboard_text__color;
      font-weight: $dashboard_text_weight;
      max-width: $dashboard_text_width;
      margin: 0 auto;
    }

    .ql-editor p, p {
      color: $dasboard_text__color;
      font-size: $dashboard_text__size;
      line-height: $dashboard_text_line;
      font-weight: $dashboard_text_weight;
      max-width: $dashboard_text_width;
      margin: 0 auto;
    }
  }

  .cw-wysiwyg-list {
    width: 100%;
    .cw-wysiwyg-list-item { display: block; }
  }
  .cw-wysiwyg-item-content.-widget {
    margin: 30px 0;
    width: 100%;
  }

  .wysiwyg-grid-row {
    display: flex;
    flex-flow: row;
    width: 100%;
    .column {
      flex: 1;
      align-items: center;
    }
  }

  &__summary {
    margin: 0 auto;
    padding: 40px 0;

    color: $dasboard_text__color;
    font-size: $dashboard_text__size;
    line-height: $dashboard_text_line;
    font-weight: $dashboard_text_weight;
    max-width: $dashboard_text_width;
  }

  &__description {
    display: block;
  }

  &__reports {
    position: relative;
    margin: 70px 0 0 0;
    padding: 40px 0 60px 0;

    &:before {
      content: "";
      position: absolute;

      background: #D6D6D9;
      height: 1px;
      width: 200vw;
      transform: translateX(-50%);

      top: 0;
      left: 0;
    }

    h1 {
      margin: 0;
      line-height: 1;
    }

    p {
      padding: 30px 0;
      text-align: center;
    }

  }

  // TODO: Move this to its own plugin
  .carusel {
    display: flex;
    justify-content: flex-start;

    &__wrapper { position: relative; }

    &__dataContainer {
      margin: 0 auto;
      width: calc(100% - 180px);
      overflow: hidden;
    }

    &__item {
      display: block;
      width: 340px;
      margin: 0 20px 0 0;

      flex-direction: column;
    }

    &__btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      width: 40px;
      height: 40px;
      border-radius: 40px;
      border: none;
      background: #97BE32;
      text-indent: -9999px;
      outline: none;

      &--prev { left: 0;

        &:before {
          content: "";
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-right: 7px solid #FFF;
          position: absolute;
          top: 50%;
          left: 44%;
          transform: translate(-50%, -50%);
        }

        &:after {
          content: "";
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-right: 7px solid #97BE32;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

      }
      &--next { right: 0;

        &:before {
          content: "";
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 7px solid #FFF;
          position: absolute;
          top: 50%;
          left: 54%;
          transform: translate(-50%, -50%);
        }

        &:after {
          content: "";
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 7px solid #97BE32;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }


      }

      cursor: pointer;
    }
  }


  &__reportPreview {
    background: rgba(151, 190, 50, 0.05);
    width: inherit;
    h4 {
      text-align: left;
      font-size: 21px;
      color: #97BE32;
      font-weight: 300;
      padding: 20px 30px 0 30px;
      margin: 0;
    }
    p {
      font-size: 14px;
      color: #555555;
      line-height: 1.3em;
      padding: 20px 30px;
      text-align: left;
     }
  }

}
