.c-select {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 8px;
    height: 2px;
    transform: translate(-200%, 0) rotate(45deg) ;
    background-color: $color-4;
    content: '';
    z-index: 1; // Necessary for the disabled styles
  }

  &::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 17px;
    width: 8px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: $color-4;
    content: '';
  }

  > select {
    width: 100%;
    height: 40px;
    padding: 0 37px 0 21px;
    border-radius: 100px;
    background-color: $color-16;
    color: $color-4;
    font-family: $content-font;
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    letter-spacing: .1px;
    line-height: 35px;
    text-overflow: ellipsis;
    -moz-appearance: none;
    -webkit-appearance: none;

    @if $template == 'default' {
      border: 1px solid $accent-color;
    }

    @if $template == 'india' {
      border: 0;
    }

    &[disabled] {
      opacity: .8;
      filter: grayscale(90%);
    }
  }

  &.-small {
    > select {
      height: 35px;
      font-size: $font-size-small;
      line-height: 30px;
    }
  }

  &.-mini {
    &::before {
      right: 2px;
    }

    &::after {
      right: 14px;
    }

    > select {
      height: 24px;
      padding: 0 24px 0 8px;
      font-size: $font-size-small;
      line-height: 24px;
    }
  }

  &.-admin > select {
    background-color: $color-2;
    border-radius: 4px;
    border-color: $color-13;
    text-transform: capitalize;
  }
}
