.c-select {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 8px;
    height: 2px;
    transform: translate(-200%, 0) rotate(45deg) ;
    background-color: $color-4;
    content: '';
  }

  &::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 17px;
    width: 8px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: $color-4;
    content: '';
  }

  > select {
    width: 100%;
    height: 40px;
    padding: 0 37px 0 21px;
    border-radius: 100px;
    background: transparent;
    color: $color-4;
    font-family: $font-family-1;
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    letter-spacing: .1px;
    line-height: 35px;
    text-overflow: ellipsis;
    -moz-appearance: none;
    -webkit-appearance: none;

    @if $theme == 2 {
      border: 1px solid $color-1;
      text-transform: uppercase;
    } @else {
      border: 0;
      background-color: rgba($color-1, .1);
    }
  }

  &.-mini {
    &::before {
      right: 2px;
    }

    &::after {
      right: 14px;
    }

    > select {
      height: 24px;
      padding: 0 24px 0 8px;
      background-color: lighten($color-1, 45%);
      font-size: $font-size-small;
      line-height: 24px;
    }
  }
}
