.c-steps-bar {
  padding: 12px 0;
  background-color: $color-15;

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .steps {
    border: 1px solid rgba($color-2, .3);
    border-radius: 40px;

    a,
    button {
      display: block;
      padding: 0 25px;
      color: $color-3;
      line-height: 27px;
      background: transparent;
      border: 0;
      appearance: none;
      font-family: $font-family-1;
      font-size: $font-size-normal;
      cursor: pointer;

      &.-active {
        border-radius: 40px;
        background: $color-3;
        color: $color-4;
        pointer-events: none;
      }

      &.-disabled {
        opacity: .3;
        pointer-events: none;
      }
    }
  }
}
