.c-table-modal {
  max-width: 515px;
  margin: 0 auto;
  padding: 45px;
  font-size: $font-size-s-normal;

  h1 {
    margin: 0 0 60px;
    font-size: $font-size-huge;
    font-weight: $font-weight-light;
    text-align: center;
  }

  ul {
    display: block;
    margin: 30px 0;

    li {
      display: list-item;
      margin-bottom: 1em;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
