.c-tabs {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 0;
  padding: 0 $wrapper-mobile-padding;
  background-color: $color-15;
  color: rgba($color-3, .5);
  list-style: none;

  @media #{$mq-mobile} {
    padding: 0 $wrapper-tablet-padding;
  }

  @media #{$mq-tablet} {
    padding: 0 $wrapper-padding;
  }

  &.-secondary {
    position: relative;
    background-color: rgba($color-1, .1);

    &:after {
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $color-1;
      content: '';
    }

    > .tab {
      padding: 0 50px;
      border: 1px solid transparent;
      border-bottom: none;
      text-transform: none;
      color: $color-4;
      font-size: $font-size-small;
      z-index: 1;

      &[aria-selected="true"] {
        border-color: $color-1;
      }
    }
  }

  &.-tertiary {
    color: $color-4;
    background-color: $color-8;
    border-bottom: 1px solid $color-9;

    > .tab {
      padding: 0 30px;
      text-transform: none;
      border: 0;

      &[aria-selected='true'] {
        position: relative;
        background: none;

        &:after {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 4px;
          width: 100%;
          background-color: $color-1;
          content: '';
        }
      }
    }
  }

  > .tab {
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;

    &[aria-selected='true'] {
      background-color: $color-3;
      color: $color-4;
    }

    & > a {
      display: block;

      color: inherit;
      width: 140px;
    }

  }
}
