.c-toggle-switcher {
  display: flex;
  justify-content: center;

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid rgba($accent-color, .3);
    border-radius: 40px;
  }

  button {
    display: block;
    padding: 5px 25px;
    color: $accent-color;
    line-height: 27px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 40px;
    appearance: none;
    font-family: $content-font;
    font-size: $font-size-normal;
    cursor: pointer;

    &.-active {
      background: $accent-color;
      color: $color-3;
      pointer-events: none;
    }
  }
}
