.vizz-wysiwyg {
  .ql-container {
    font-family: $font-family-1;
    font-size: $font-size-normal;
  }

 .cw-wysiwyg-text {
    // Display the text elements with a 100% width
    // so the text can have some alignment
    flex-basis: 100%;
    max-width: none;
  }

  .c-we-vega-chart-legend {
    top: 10px;
    right: 10px;

    .toggle-button {
      @extend .c-button.-mini;
      border: 1px solid;
      border-radius: 20px;
      border-color: $color-1;
      font-size: 0;

      span {
        margin: 0;
        border: 0;
        font-size: $font-size-small;
      }
    }
  }


  .c-we-chart, .c-we-chart .chart {
    height: 250px;
    width: 100%;
  }
}

.fa-wysiwyg-file {
  &__form {
    &--file {
      padding: 9px;
      margin: 0 0 10px 0;

      border: 1px solid $color-9;
    }

    &--caption {
      width: 100%;

      padding: 10px 10px;
      margin: 0 0 10px 0;

      font-size: $font-size-small;
      border: 1px solid $color-9;
      outline: none;
    }

    &--submit {
      background: $color-4;
      padding: 10px 30px;

      color: $color-3;
      font-size: $font-size-small;

      border: 1px solid transparent;
      cursor: pointer;
    }
  }

  &__preview {
    &--caption {
      display: block;
      font-size: $font-size-small;
      padding: 5px;
      color: $color-4;
    }

    &--captionInput {
      display: block;

      width: 100%;
      min-height: 30px;

      padding: 10px;
      margin: 20px 0 0 0;

      font-size: $font-size-small;
      border: 1px solid $color-9;
      color: $color-4;

      resize: none;
    }

  }
}
