.vizz-wysiwyg {
  .ql-container {
    font-family: $font-family-1;
    font-size: $font-size-normal;
  }

  .cw-wysiwyg-text {
    // Display the text elements with a 100% width
    // so the text can have some alignment
    flex-basis: 100%;
    max-width: none;

    ul,
    ol {
      display: block;
      margin-top: .5em;
      margin-bottom: .5em;
      list-style: initial;

      li {
        display: list-item;
        line-height: 2;

        &::before {
          font-family: $font-family-1;
        }
      }
    }
  }

  // Reduce the height of the buttons container
  // of the grid on the right size (basically the delete
  // button) because it prevents the user from
  // resizing the textarea of the HTML block
  .wysiwyg-grid-column-actions.-inline {
    height: auto;
  }

  .cw-wysiwyg-item-content.-html,
  .wysiwyg-grid-column__item {
    // Prevent the user from making the textarea
    // bigger than the space available
    textarea {
      max-width: 100%;
    }
  }

  .wysiwyg-grid-column__item {
    margin-top: 16px;
  }

  .cw-wysiwyg-item-content {
    &.-html,
    &.-text {
      h1 {
        margin: 40px auto 10px;
        color: $color-4;
        font-size: $font-size-huge;
        font-weight: $font-weight-light;
        letter-spacing: .3px;
      }

      h2 {
        margin: 20px auto 5px;
        color: $color-4;
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        letter-spacing: .2px;
      }

      p {
        font-size: $font-size-normal;
        letter-spacing: .1px;
        line-height: 1.5;

        & + p {
          margin-top: .9em;
        }
      }
    }
  }

  .cw-wysiwyg-list-item {
    &.-image {
      text-align: center;
    }

    &.-grid {
      .wysiwyg-grid-column {
        padding-bottom: 0;
      }
    }
  }

  .c-we-vega-chart-legend {
    top: 10px;
    right: 10px;

    .toggle-button {
      @extend .c-button.-mini;
      border: 1px solid;
      border-radius: 20px;
      border-color: $color-1;
      font-size: 0;

      span {
        margin: 0;
        border: 0;
        font-size: $font-size-small;
      }
    }
  }


  .c-we-chart, .c-we-chart .chart {
    height: 250px;
    width: 100%;
  }
}

.fa-wysiwyg-file {
  &__form {
    &--file {
      padding: 9px;
      margin: 0 0 10px 0;

      border: 1px solid $color-9;
    }

    &--caption {
      width: 100%;

      padding: 10px 10px;
      margin: 0 0 10px 0;

      font-size: $font-size-small;
      border: 1px solid $color-9;
      outline: none;
    }

    &--submit {
      background: $color-4;
      padding: 10px 30px;

      color: $color-3;
      font-size: $font-size-small;

      border: 1px solid transparent;
      cursor: pointer;
    }
  }

  &__preview {
    &--caption {
      display: block;
      font-size: $font-size-small;
      padding: 5px;
      color: $color-4;
    }

    &--captionInput {
      display: block;

      width: 100%;
      min-height: 30px;

      padding: 10px;
      margin: 20px 0 0 0;

      font-size: $font-size-small;
      border: 1px solid $color-9;
      color: $color-4;

      resize: none;
    }

  }
}
