{
  "extends": "eslint:recommended",
  "rules": {
    "arrow-body-style": 1,
    "func-names": 0
  },
  "globals": {
    "vg": true,
    "d3": true,
    "$": true,
    "L": true,
    "Backbone": true,
    "handlebars": true,
    "_": true
  },
  "env": {
    "browser": true
  }
}
