{
  "extends": "airbnb-base/legacy",
  "rules": {
    "arrow-body-style": 1,
    "func-names": 0,
    "no-new": 0,
    "no-param-reassign": [2, { "props": false }],
    "max-len": [2, 120, { "ignoreComments": true }],
    "vars-on-top": 0,
    "one-var": 0,
    "no-underscore-dangle": [2, { "allowAfterThis": true, "allowAfterSuper": true }],
    "quote-props": [2, "consistent"]
  },
  "globals": {
    "vg": true,
    "d3": true,
    "$": true,
    "L": true,
    "Backbone": true,
    "HandlebarsTemplates": true,
    "_": true,
    "Turbolinks": true,
    "SirTrevor": true
  },
  "env": {
    "browser": true
  }
}
