{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [],
  "rules": {
    "arrow-body-style": 1,
    "func-names": 0
  },
  "globals": {
    "vg": true,
    "d3": true,
    "$": true,
    "L": true
  },
}
