<%= render 'front/cover' %>

<%#

  Replace with front/content partial
  render 'front/cover', content: @site_page.content

%>
<div class="c-content">
  <div class="wrapper">
    <div class="js-content"></div>
    <input type="hidden" class="js-json-content" value="<%= OpenStruct.new(@site_page.content).json unless @site_page.content.blank? || OpenStruct.new(@site_page.content).json.blank? %>" />
  </div>

</div>

<%= render 'front/footer' %>

<script type="text/javascript">
  window.route = 'Homepage';
</script>
