<%= javascript_pack_tag 'application' %>

<%= react_component('Public', {
  page: @site_page,
  site: @site_page.site,
  siteTitleOnly: @site_title_only,
  image: @image,
  pageSize: defined?(@size) ? @size : nil
} ) %>

<div class="c-content">
  <div class="wrapper">
    <div class="js-content"></div>
    <input type="hidden" class="js-json-content" value="<%= OpenStruct.new(@site_page.content).json unless @site_page.content.blank? || OpenStruct.new(@site_page.content).json.blank? %>" />
  </div>
</div>

<%= render 'front/footer' %>

<script type="text/javascript">
  window.route = 'Homepage';
</script>
