<%= react_component('Cover', {
  title: 'Internal error',
  image: @page_cover,
  size: 'small',
  template: @site_page.site.site_template.name
} ) %>

<div class="l-error-page">
  <div class="wrapper">
    <h1>The page can't be currently accessed</h1>
    <%= render partial: 'site_map' %>
  </div>
</div>

<%= render 'front/footer' %>
