<%= react_component('Cover', {
  title: 'Error 404',
  image: @page_cover,
  size: 'small',
  template: @site_page.site.site_template.name
} ) %>

<div class="l-error-page">
  <div class="wrapper">
    <h1>The content requested hasn’t been found</h1>
    <%# render partial: 'site_map' %>
  </div>
</div>

<%# render 'front/footer' %>

