<div class="c-cover -short" style="background-image: url('<%= @alternative_image %>');">
  <div class="wrapper">
    <h2 class="cover-title">Error 404</h2>
  </div>
</div>

<div class="l-error-page">
  <div class="wrapper">
    <h1>The content requested hasn’t been found</h1>
    <%# render partial: 'site_map' %>
  </div>
</div>

<%# render 'front/footer' %>

