<%= render 'front/cover'%>

<div class="c-content">
  <div class="wrapper">
    <%= @site_page.content['body'].html_safe unless @site_page.content.blank? || @site_page.content['body'].blank? %>
  </div>
</div>

<%= render 'front/footer'%>

<script type="text/javascript">
  window.route = 'OpenContent';
</script>
