<%= react_component('Cover', {
  title: 'Sitemap',
  image: @page_cover,
  size: 'small',
  template: @site_page.site.site_template.name
} ) %>

<div class="l-sitemap">
  <div class="wrapper">
    <h1>Available pages</h1>
    <%= render partial: 'site_map' %>
  </div>
</div>

<%= render 'front/footer' %>
