<div class="c-cover -short" style="background-image: url('<%= @alternative_image %>');">
  <div class="wrapper">
    <h2 class="cover-title">Sitemap</h2>
  </div>
</div>

<div class="l-sitemap">
  <div class="wrapper">
    <h1>Available pages</h1>
    <%= render partial: 'site_map' %>
  </div>
</div>

<%= render 'front/footer' %>
