<%= render 'front/cover', image: @alternative_image, size: 'small' %>

<div class="c-content">
  <div class="wrapper">
    <div class="js-content"></div>
    <input type="hidden" class="js-json-content" value="<%= OpenStruct.new(@site_page.content).json unless @site_page.content.blank? || OpenStruct.new(@site_page.content).json.blank? %>" />
  </div>
</div>

<%= render 'front/footer'%>

<script type="text/javascript">
  window.route = 'OpenContent';
</script>
