<div class="c-cover -short">
  <div class="wrapper">
    <h2 class="cover-title">Wrong request</h2>
  </div>
</div>

<div class="l-error-page">
  <div class="wrapper">
    <h1>The page can't be currently accessed</h1>
    <%= render partial: 'site_map' %>
  </div>
</div>

<%= render 'front/footer' %>
