<div class="c-table-modal">
  <h1>List of {{columnName}}</h1>

  <p>Here is the complete list of the "{{columnName}}" of the selected row:</p>

  <ul>
    {{#each values}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</div>
