<div class="c-table-modal -no-padding">
  <h1>Metadata</h1>

  <div class="table-data">
    {{#each values}}
      <dl>
        <dt>{{@key}}</dt>
        <dd>{{this}}</dd>
      </dl>
    {{/each}}
  </div>
</div>
