<footer class="c-footer">
  <div class="wrapper">
    <ul class="site-links-list">
      <li class="site-link-item"><%= link_to 'Terms of Service', map_path, class: 'site-link' %></li>
      <li class="separator"> | </li>
      <li class="site-link-item"><%= link_to 'Contact us', data_path, class: 'site-link' %></li>
    </ul>

    <div class="share">
      <span class="share-text">Share the Atlas</span>
      <ul class="share-links-list">
        <li class="share-link-item"><a class="share-link -facebook" href="#" target="_blank"></a></li>
        <li class="share-link-item"><a class="share-link -twitter" href="#" target="_blank"></a></li>
        <li class="share-link-item"><a class="share-link -googleplus" href="#" target="_blank"></a></li>
        <li class="share-link-item"><a class="share-link -pinterest" href="#" target="_blank"></a></li>
        <li class="share-link-item"><a class="share-link -linkedin" href="#" target="_blank"></a></li>
        <li class="share-link-item"><a class="share-link -tumblr" href="#" target="_blank"></a></li>
      </ul>
    </div>
  </div>
</footer>
