<% unless [ContentType::TAG_SEARCHING, ContentType::HOMEPAGE, ContentType::MAP].include? @site_page.content_type %>
    <div class="c-pre-footer">
      <div class="wrapper">
        <% @site_page.related_pages.each do |page| %>
          <div>
            <%= link_to page.url%>
          </div>
        <% end %>
      </div>
    </div>
<% end %>
