<div class="c-header-admin">
  <div class="wrapper">
    <div>
      <% unless @breadcrumbs.blank? %>
        <ul class="breadcrumbs">
          <% @breadcrumbs.each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <ul class="menu">
      <li><%= link_to 'Content Management ', management_path, class: '-highlight' %></li>
      <li><%= link_to 'Logout', auth_logout_path, {class: 'nav-link', :method => :post} %></li>
    </ul>
  </div>
</div>
