<div class="c-header-admin -bright">
  <div class="wrapper">
    <div>

    <div class="quick-links js-quick-links"></div>

      <% unless @breadcrumbs.blank? %>
          <ul class="breadcrumbs">
            <% @breadcrumbs.each do |breadcrumb| -%>
                <li>
                  <% if breadcrumb[:url] -%>
                      <a href="<%= breadcrumb[:url] %>"><%= breadcrumb[:name] %></a>
                  <% else %>
                      <%= breadcrumb[:name] %>
                  <% end %>
                </li>
            <% end %>
          </ul>
      <% end %>
    </div>

    <%= render partial: 'shared/admin_user_dropdown'%>
  </div>
</div>
