<div class="form-group row">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.button 'CONTINUE', value: Admin::SiteStepsController::CONTINUE, type: 'submit', method: :put, class: 'btn btn-primary' %>
    <% if @site.id %>
      <%= f.button 'SAVE CHANGES', value: Admin::SiteStepsController::SAVE, type: 'submit', method: :put, class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'CANCEL', admin_sites_path, class: 'btn btn-secondary' %>
  </div>
</div>
