.fa-login {
  max-width: 40%;
  margin: 90px auto 0 auto;
  background: #fbfbfb;
  padding: 20px 20px;
  border-radius: 5px;

  h2 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0 30px 0;
    line-height: 1;
    letter-spacing: 0.1em;
  }
  a {
    display: block;
    outline: none;
    color: #FFF;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    font-size: 17px;
    margin: 0 0 20px 0; &:last-child { margin-bottom: none; }

    &.fb { background: #3B5998; }
    &.twitter { background: #1DA1F2; }
    &.google { background: #d34836; }

    &:hover { opacity: 0.7; }

    &.back {
      background: none;
      padding: 0;
      color: #a0a0a0;
      font-size: 12px;
      margin: 80px 0 0 0;
    }

  }
}