$secondary-container-initial-width: 400px;

.l-analysis-dashboard {
  margin-top: 25px;

  @media #{$mq-laptop} {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: calc(100vh - 80px);
  }

  h2 {
    margin: 0 0 15px;
    font-size: $font-size-huge;
    letter-spacing: .3px;
    line-height: 1.1;

    @if $theme == 2 {
      font-weight: $font-weight-light;
    } @else {
      color: $color-1;
      font-family: $font-family-2;
      font-weight: $font-weight-bold;
    }
  }

  > .main-container {
    padding: $wrapper-mobile-padding;

    @media #{$mq-laptop} {
      flex-basis: calc(100% - $secondary-container-initial-width);
      flex-grow: 1;
      flex-shrink: 1;
      padding: 15px 25px;
    }
  }

  > .secondary-container {
    padding: 0 $wrapper-mobile-padding 15px;
    border-left: 1px solid rgba($color-4, .1);


    @media #{$mq-laptop} {
      flex-basis: $secondary-container-initial-width;
      flex-grow: 0;
      flex-shrink: 0;
      padding: 0 25px 15px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .description {
    margin: 0;
    font-size: $font-size-x-normal;
    font-weight: $font-weight-light;
  }

  .filters {
    height: 35px;
    margin-top: 20px;
  }

  .map {
    height: 300px;
    margin-top: 50px;
    border: 1px solid rgba($color-4, .3);

    @media #{$mq-tablet} {
      height: 500px;
    }

    @media #{$mq-laptop} {
      height: calc(100vh - 328px);
    }

    .leaflet-control-attribution {
      color: $color-4;

      a {
        background-color: transparent;
        color: $color-4;
      }
    }

    .leaflet-bar a {
      color: $color-4;
    }
  }

  .graph {
    position: relative;
    left: -25px;
    width: calc(100% + 50px);
    padding: 15px 25px;
    border-bottom: 1px solid rgba($color-4, .1);
  }

  .bookmarks {
    padding: 15px 0;
  }
}
