.l-error-page {
  max-width: 750px;
  min-height: calc(100vh - 491px);
  margin: 0 auto;

  @media #{$mq-tablet} {
  min-height: calc(100vh - 440px);
  }
  h1 {
    max-width: 600px;
    margin: 25px 0;
    font-size: $font-size-big;
    font-weight: $font-weight-light;
    line-height: 1.2;

    @media #{$mq-tablet} {
      margin: 90px 0 45px;
      font-size: $font-size-huge;
    }
  }

  p {
    margin-bottom: 0;

    @media #{$mq-tablet} {
      margin-bottom: 15px;
    }
  }

  .wrapper {
    @media #{$mq-tablet} {
      padding: 0;
    }
  }

  .sitemap {
    margin-bottom: 25px;

    @media #{$mq-tablet} {
      margin-top: 15px;
    }

    li {
      width: 140px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $color-1;

      font-size: $font-size-s-normal;
      line-height: 2.4;

      @media #{$mq-tablet} {
        width: 165px;
        display: inline-block;
        margin-right: 10px;
        font-size: $font-size-x-normal;
        line-height: 1.4;
      }

      a {
        background-color: transparent;
        color: $color-1;
      }

      > ul {
        display: none;
      }
    }
  }
}
