// Specific styles for overwriting the map builder styles

// Prevents the map's footer from being hidden
#root {
  min-height: 0 !important;
  height: calc(100% - 50px) !important;
}

// modal should not take up 100% of the width
.modal-wrapper {
  .modal {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0 20px;
    width: 300px;
    max-height: 400px;
    // The overflow breaks the dropdown of the select
    // of the search modal
    // overflow: hidden;
  }
}

.app-header  {
  visibility: hidden;
}

.documents-table__link a {
  padding: 0px;
}
