{{#if compiling}}
  <button name="preview-button"
          type="button"
          value="Preview"
          method="put"
          disabled="disabled"
          class="preview-button c-button -outline -dark-text">
    Preview
  </button>
{{else}}
  <button name="preview-button"
          type="button"
          value="Preview"
          method="put"
          class="preview-button c-button -outline -dark-text">
    Preview
  </button>
{{/if}}
