<div class="c-dropdown -right">
  <button><%= @user.name %></button>
  <ul class="options">
    <li class="option"><a href="/management/profile/<%= @user.id %>/edit">Edit profile</a></li>
    <li class="option"><a href="/auth/logout">Log out</a></li>
  </ul>
</div>
