@import
  'leaflet',
  'jquery-ui',
  'sir-trevor',
  'select2',
  'bootstrap',
  '../../../../node_modules/widget-editor/dist/styles.min',
  '../../../../node_modules/vizz-wysiwyg/build/rw',
  '../helpers',
  'settings',
  '../base',
  '../layouts/shared/*',
  '../layouts/management/*',
  '../components/shared/**/*',
  '../components/management/**/*';
