.c-dataset-filters {
  max-width: 700px;
  margin: 0 auto;

  > .filter {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 14px;

    > input,
    > select,
    > .select2 {
      flex-basis: calc(25% - 18px);
      flex-grow: 0;
      flex-shrink: 0;
      min-height: 40px;
      margin: 0 9px;
      overflow: hidden;
    }

    .values-selector + .select2 {
      flex-grow: 1;
    }

    > input {
      width: calc(25% - 18px);
      padding: 0 15px;
      border: 1px solid $color-7;
      border-radius: 4px;
      color: $color-4;
      font-family: $font-family-1;
      font-size: $font-size-normal;
    }

    .select2-selection {
      min-height: 40px;
      border: 1px solid $color-7;
      border-radius: 4px;

      > span {
        height: 40px;
        line-height: 40px;
      }

      .select2-selection__choice {
        border-color: $color-1;
        background-color: $color-3;

        > span {
          margin-right: 5px;
          color: $color-1;
          font-size: $font-size-medium;
        }
      }

      .select2-selection__rendered {
        display: block; // Needed otherwise extra margin/padding at the bottom of the field
        padding-right: 35px;
        padding-left: 15px;
      }

      .select2-selection__placeholder {
        color: $color-4;
      }

      .select2-selection__arrow > b {
        width: 8px;
        height: 8px;
        margin-left: -14px;
        transform: translateY(-50%) rotate(45deg);
        border-top: 0;
        border-left: 0;
        border-width: 2px;
        border-color: $color-4;
      }

      .select2-search__field {
        height: 40px;
        margin: 0;
      }
    }

    .select2-container--disabled {
      .select2-selection {
        opacity: .6;
      }
    }

    .remove-button {
      position: absolute;
      top: 50%;
      right: -10px;
      width: 14px;
      height: 14px;
      margin: 0;
      padding: 0;
      transform: translate(100%, -50%);
      border: 0;
      background: asset-url('icons/close-icon.svg') no-repeat center center;
      text-indent: -10000px;
      cursor: pointer;
    }
  }

  .action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 18px);
    margin: 37px auto 0;
    padding-top: 37px;
    border-top: 1px solid $color-7;

    > div {
      display: flex;
      align-items: center;
      > .c-button { margin-left: 12px; }
    }
  }
}

// Global styles because the container is appended to body
.select2-container {
  .select2-results__options {
    width: 100%;
    li { width: 100%; }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: rgba($color-1, .3);
    color: $color-4;
  }

  .select2-results__option--highlighted[aria-selected="true"],
  .select2-results__option[aria-selected="true"] {
    background-color: $color-1;
    color: $color-3;
  }

  .select2-dropdown {
    border-color: $color-7;
  }
}

.ui-datepicker {
  padding: 0 4px 4px;
  border-radius: 4px;
  border-color: $color-7;
  color: inherit;
  font-family: inherit;
  font-size: inherit;

  .ui-datepicker-header {
    margin: 0 -4px;
    border: 0;
    border-bottom: 1px solid $color-7;
    background-color: transparent;
  }

  .ui-datepicker-calendar {
    margin-bottom: 0;
  }

  .ui-datepicker-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    display: flex;
    top: 50%;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;

    > .ui-icon {
      position: static;
      width: 8px;
      height: 8px;
      margin: 0;
      border-right: 2px solid $color-4;
      border-bottom: 2px solid $color-4;
      background: none;
      cursor: pointer;
    }
  }

  .ui-datepicker-prev {
    left: 0;

    &.ui-datepicker-prev-hover {
      top: 50%;
      left: 0;
    }

    > .ui-icon {
      transform: translateX(4px) rotate(135deg);
    }
  }

  .ui-datepicker-next {
    right: 0;

    &.ui-datepicker-next-hover {
      top: 50%;
      right: 0;
    }

    > .ui-icon {
      transform: translateX(-4px) rotate(-45deg);
    }
  }

  .ui-state-default {
    border-color: $color-7;
    background-color: transparent;
    color: $color-4;

    &.ui-state-active {
      border-color: $color-1;
      background-color: $color-1;
      color: $color-3;
    }
  }
}
