.c-tree-structure {
  display: flex;
  justify-content: center;

  ul {
    display: block;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 15px;
      width: 1px;
      height: calc(100% - 21px); // 21 is half of the height of .add-page-button
      background-color: $color-7;
      content: '';
      z-index: -1;
    }

    // When the placeholder is dropped in a forbidden place, the dragged element goes back to its
    // original position. Nevertheless, the ul created by the library to hold the placeholder is not
    // removed. Because it has an height, the vertical grey lines of the parent nodes will
    // have an excess of height. By targeting it, detecting when it's empty, we can make it
    // invisible and thus prevent this issue.
    &:empty {
      display: none;
    }

    > li {
      // We want the elements to act like a block element but have
      // a width corresponding to its content
      display: table;

      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }

      // Identation for nested levels
      ul { padding-left: 55px; }
    }
  }

  // We target the vertical line going out of the root
  > ul {
    &::after {
      top: 39px;
      height: calc(100% - 21px - 39px);  // 21 is half of the height of .add-page-button, 39px is the height of a page
    }
  }

  .page {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    min-width: 260px;
    padding: 10px 15px;
    border: 1px solid $color-7;
    border-radius: 4px;
    background-color: $color-3;
    cursor: -webkit-grab;
    cursor: -moz-grab;


    &::after {
      display: block;
      position: absolute;
      top: 50%;
      left: -40px;
      width: 40px;
      height: 1px;
      transform: translateY(-50%);
      background-color: $color-7;
      content: '';
    }

    &.-highlight {
      border-color: $color-1;
      background-color: $color-1;
      color: $color-3;
    }

    &.-disabled {
      opacity: .5;

      // The vertical lines must also be faded out
      + ul {
        &::after {
          opacity: .5;
        }

        .add-page-button {
          &::after {
            opacity: .5;
          }
        }
      }
    }

    &.-placeholder {
      max-width: 200px;
      height: 43px; // Height of the other pages
      border-style: dashed;

      &.-invalid {
        border-color: $color-8;
      }
    }

    + ul {
      padding-top: 30px; // We only padding to not break the border on the left
    }

    .action-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 40px;
      padding-left: 0;

      > li {
        display: block;
        margin: 0 30px 0 0;

        &:last-of-type {
          margin-right: 0;
        }

        > .view-button {
          display: block;
          width: 16px;
          height: 11px;
          border: 0;
          background: image-url('icons/eye-icon.svg') no-repeat center center;
          text-indent: -10000px; // For accessibility, the text should stay visible
          cursor: pointer;
        }

        > .view-button-slashed {
          display: block;
          width: 16px;
          height: 16px;
          border: 0;
          background: image-url('icons/slashed-eye-icon.svg') no-repeat center center;
          text-indent: -10000px; // For accessibility, the text should stay visible
          cursor: pointer;
        }

        > .edit-button {
          display: block;
          width: 16px;
          height: 16px;
          background: image-url('icons/pen-icon.svg') no-repeat center center;
          text-indent: -10000px; // For accessibility, the text should stay visible
        }

        > .delete-button {
          display: block;
          width: 10px;
          height: 14px;
          background: image-url('icons/bin-icon.svg') no-repeat center center;
          text-indent: -10000px; // For accessibility, the text should stay visible
        }
      }
    }
  }

  &.-readonly .page {
    cursor: default;
  }

  > ul {
    // We want the root of the tree to act like a block element but have
    // a width corresponding to its content
    display: table;

    > li > .page {
      cursor: default;

      &::after {
        content: none;
      }
    }
  }

  // Element that's being dragged
  .ui-sortable-helper {
    opacity: .7;

    > .page {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;

      &::after {
        content: none;
      }
    }
  }

  .add-page-button {
    position: relative;
    padding: 10px 70px;
    border: 1px solid $color-1;
    border-radius: 36px;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;

    &:active {
      color: currentColor;
    }

    &::after {
      display: block;
      position: absolute;
      top: 50%;
      left: -43px;
      width: 42px;
      height: 1px;
      transform: translateY(-50%);
      background-color: $color-7;
      content: '';
    }

    // This style is only used when the placeholder of the dragged item is placed just after
    // the button
    + ul {
      padding-top: 30px;
    }
  }
}
