$wysiwyg-lateral-padding: 105px;
$wysiwyg-width: $content-max-width + 2 * $wysiwyg-lateral-padding;

.c-wysiwyg {
  position: relative;
  max-width: $wysiwyg-width;
  min-height: calc(100vh - 533px);
  margin: 0 auto;
  border: 1px solid $color-13;

  .ql-editor {
    min-height: 100%;
    padding: 30px $wysiwyg-lateral-padding;
    overflow: visible;
  }

  // TOOLTIP
  .ql-bubble {
    .ql-toolbar {
      display: flex;
      justify-content: center ;
      padding-top: 5px;

      .ql-formats {
        margin: 0;

        button {
          width: 34px !important;
          margin: 0;
          padding: 0 !important;
          border-left: 1px solid $color-4;
          text-align: center;

          &.ql-active svg path {
            fill: $color-1;
          }

          svg {
            display: inline-block;
            float: none;
            stroke: none !important;
          }
        }
      }
    }

    .ql-tooltip {
      height: 35px;
      border-radius: 4px;
      background-color: rgba($color-5, .8);
      box-shadow: 0 1px 3px 0 rgba($color-5, .25);
    }

    .ql-tooltip-arrow {
      top: auto !important;
      bottom: -6px;
      border-top: 6px solid rgba($color-5, .8);
      border-bottom: 0 !important;
    }
  }

  .toolbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    width: 100%;
    height: 45px;
    transform: translateY(-50%);

    > button {
      position: relative;
      width: 45px;
      height: 45px;
      margin: 0 10px;
      border: 0;
      border-radius: 100%;
      background-color: $color-1;
      text-indent: -10000px;
      cursor: pointer;

      svg {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.-hidden {
      display: none;
    }
  }

  .sidebar {
    display: flex;
    position: absolute;
    top: 0;
    left: 50px;
    width: calc(100% - 50px - 105px);
    height: 45px;
    transform: translateY(-50%);
    z-index: 1;

    &.-hidden {
      display: none;
    }

    > button {
      position: relative;
      top: 5px;
      flex-basis: 44px;
      flex-shrink: 0;
      height: 35px;
      margin: 0;
      padding: 0;
      border: 0;
      background: transparent;
      text-indent: -10000px; // For accessibility, we keep the text
      cursor: pointer;
      overflow: hidden; // Needed for the negative text-indent

      &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 6px;
        transition: transform .3s;
        color: $color-3;
        font-family: monospace;
        font-size: $font-size-big;
        line-height: 35px;
        text-indent: 0;
        content: '+';
      }

      > svg {
        display: block;

        // I haven't been able to find why, but there's a 1px difference
        // in the top position of the icon on FF
        // This media query is a hack found on browserhacks that targets :only-child
        // Firefox
        @media screen and (-moz-images-in-menus: 0) {
          position: relative;
          top: -1px;
        }
      }
    }

    > .blocks {
      display: none;
    }


    &.-expanded {
      > button {
        &::after {
          transform: rotate(-45deg);
        }
      }

      > .blocks {
        display: flex;
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;

        button {
          display: block;
          position: relative;
          width: 45px;
          height: 45px;
          margin: 0 10px;
          padding: 0;
          border: 0;
          border-radius: 100%;
          background-color: $color-1;
          cursor: pointer;

          > span {
            display: block;
            position: absolute;
            bottom: -16px;
            left: 0;
            width: 100%;
            color: rgba($color-4, .8);
            font-size: $font-size-small;
            text-align: center;
          }
        }

        &::after {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $color-13;
          content: '';
          z-index: -1;
        }
      }
    }
  }

  // Styles of the content
  .ql-editor {
    font-family: $font-family-1;
    font-size: $font-size-normal;
    white-space: normal;

    &::after { // clearfix for the floating elements
      display: table;
      clear: both;
      content: '';
    }

    a {
      // Do not set inline-block here otherwise the links will be forced to be on online line
      padding: 0 3px;
      background-color: rgba($color-1, .2);
      color: currentColor;
      text-decoration: none;
    }

    h1 {
      margin: 40px auto 10px;
      color: $color-4;
      font-size: $font-size-huge;
      font-weight: $font-weight-light;
      letter-spacing: .3px;
    }

    h2 {
      margin: 20px auto 5px;
      color: $color-4;
      font-size: $font-size-medium;
      font-weight: $font-weight-bold;
      letter-spacing: .2px;
    }

    p {
      letter-spacing: .1px;
      line-height: 1.5;

      & + p {
        margin-top: .9em;
      }
    }

    blockquote {
      margin: 60px 0;
      padding: 0;
      border: 0;
      font-size: $font-size-big;
      font-weight: $font-weight-light;
      letter-spacing: .2px;
      line-height: 1.1;

      &::before {
        content: '“';
      }

      &::after {
        content: '”';
      }
    }

    ul,
    ol {
      display: block;
      margin: .5em 0;

      li {
        display: list-item;
      }
    }

    .-image {
      position: relative;
      width: 100%;
      margin: 35px 0;
      text-align: center;

      &.-large {
        width: calc(100% + #{$media-max-width - ($wysiwyg-width - 2 * $wysiwyg-lateral-padding)});
        margin: 35px #{-1 * ($media-max-width - ($wysiwyg-width - 2 * $wysiwyg-lateral-padding)) / 2};
      }

      &.-cover {
        width: calc(100% + #{$body-max-width - ($wysiwyg-width - 2 * $wysiwyg-lateral-padding)});
        margin: 35px #{-1 * ($body-max-width - ($wysiwyg-width - 2 * $wysiwyg-lateral-padding)) / 2};
      }

      > div {
        display: inline-block;
      }

      img {
        display: block;
        max-width: 100%;
        max-height: $content-max-width * $image-ratio;
        margin: 0 auto;
        border-radius: 4px;
      }

      &.-large img {
        max-height: $media-max-width * $image-ratio;
      }

      &.-cover img {
        max-height: $body-max-width * $image-ratio;
      }

      .caption {
        display: block;
        width: 100%;
        max-width: #{$wysiwyg-width - 2 * $wysiwyg-lateral-padding};
        margin: 12px auto 0;
        font-style: italic;
        text-align: right;

        &:empty {
          &::before {
            color: rgba($color-4, .5);
            content: 'Edit me to add a caption to the image';
          }
        }
      }
    }

    .-intro {
      margin-bottom: 30px;
      font-size: $font-size-x-normal;
      font-weight: $font-weight-light;
      letter-spacing: .1px;
      line-height: 1.54;
    }

    .-widget {
      position: relative;
      width: 100%;
      margin: 35px 0;

      &.-large {
        width: calc(100% + #{$media-max-width - ($wysiwyg-width - 2 * $wysiwyg-lateral-padding)});
        margin: 35px #{-1 * ($media-max-width - ($wysiwyg-width - 2 * $wysiwyg-lateral-padding)) / 2};
      }

      &.-cover {
        width: calc(100% + #{$body-max-width - ($wysiwyg-width - 2 * $wysiwyg-lateral-padding)});
        margin: 35px #{-1 * ($body-max-width - ($wysiwyg-width - 2 * $wysiwyg-lateral-padding)) / 2};
      }

      &:not(:hover) .toolbar {
        display: none;
      }

      .error {
        text-align: center;
      }

      > .widget-container {
        padding: 45px;
        border: 1px solid $color-13;
        border-radius: 4px;
        background-color: $color-3;
      }

      > .caption {
        display: block;
        width: 100%;
        max-width: #{$wysiwyg-width - 2 * $wysiwyg-lateral-padding};
        margin: 12px auto 0;
        font-style: italic;
        text-align: right;

        &:empty {
          &::before {
            color: rgba($color-4, .5);
            content: 'Edit me to add a caption to the widget';
          }
        }
      }
    }
  }
}
