$secondary-container-initial-width: 400px;

.l-analysis-dashboard {
  margin-bottom: 50px;

  > .bookmarks {
    background-color: $color-16;
  }

  .description {
    max-width: $content-max-width;
    margin: 45px auto 0;
    font-size: $font-size-x-normal;
    font-weight: $font-weight-light;

    @if $theme == 1 {
      line-height: 1.6;
    }

    button {
      display: inline;
      padding: 0;
      border: 0;
      background: transparent;
      color: $color-1;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    .full-description {
      display: none;
    }
  }

  .filters {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: $content-max-width;
    margin: 0 auto;
    margin-top: 40px;

    @media #{$mq-tablet} {
      flex-direction: row;
      align-items: flex-start;
      height: 40px;
    }

    > *:not(:last-of-type) {
      margin-bottom: 15px;

      @media #{$mq-tablet} {
        margin-right: 17px;
        margin-bottom: 0;
      }
    }
  }

  .widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $media-max-width;
    margin: 50px auto 0;

    > .large-widget {
      flex-basis: 100%;
      // The value below is from the defaults of chartWidgetView
      // Please make them coincide
      height: #{$media-max-width * .5};
      margin-bottom: 45px;
    }

    > .widget {
      flex-basis: calc(50% - 30px);
    }

    // Target the first "small" widget
    > div:nth-of-type(2) {
      position: relative;

      &::after {
        display: block;
        position: absolute;
        top: 0;
        right: -30px;
        width: 1px;
        height: 100%;
        background-color: $color-9;
        content: '';
      }
    }
  }

  hr {
    max-width: $media-max-width;
    margin: 60px auto;
    border: 0;
    border-top: 1px solid $color-9;
  }

  .table {
    max-width: $media-max-width;
    margin: 0 auto;
  }

  .map {
    height: 300px;
    margin-top: 50px;
    border: 1px solid rgba($color-4, .3);

    @media #{$mq-tablet} {
      height: 500px;
    }

    @media #{$mq-laptop} {
      height: calc(100vh - 332px);
    }

    .leaflet-control-attribution {
      color: $color-4;

      a {
        background-color: transparent;
        color: $color-4;
      }
    }

    .leaflet-bar a {
      color: $color-4;
    }
  }

  .graph {
    position: relative;
    left: -25px;
    width: calc(100% + 50px);
    padding: 15px 25px;
    border-bottom: 1px solid rgba($color-4, .1);
  }
}
