$secondary-container-initial-width: 400px;

.l-analysis-dashboard {
  margin-bottom: 50px;

  > .bookmarks {
    background-color: $color-16;
  }

  .description {
    max-width: $content-max-width;
    margin: 30px auto 0;
    font-size: $font-size-x-normal;
    font-weight: $font-weight-light;

    @if $theme == 1 {
      line-height: 1.6;
    }

    @media #{$mq-tablet} {
      margin: 45px auto 0;
    }

    .read-more {
      display: inline;
      padding: 0;
      border: 0;
      background: transparent;
      color: $color-1;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    .metadata-button {
      &.-hidden {
        display: none;
      }
    }

    .full-description {
      display: none;
    }
  }

  .filters {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: $content-max-width;
    margin: 30px auto 0;

    @media #{$mq-tablet} {
      flex-direction: row;
      align-items: flex-start;
      height: 40px;
      margin: 40px auto 0;
    }

    > *:not(:last-of-type) {
      margin-bottom: 15px;

      @media #{$mq-tablet} {
        margin-right: 17px;
        margin-bottom: 0;
      }
    }
  }

  .widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $media-max-width;
    margin: 50px auto 0;

    > .large-widget {
      flex-basis: 100%;
      // The factor below is from the defaults of chartWidgetView
      // Please make them coincide
      min-height: #{$breakpoint-mobile * .5};
      margin-bottom: 45px;

      @media #{$mq-tablet} {
        // The factor below is from the defaults of chartWidgetView
        // Please make them coincide
        min-height: #{$breakpoint-tablet * .5};
      }

      @media #{$mq-laptop} {
        // The factor below is from the defaults of chartWidgetView
        // Please make them coincide
        min-height: #{$media-max-width * .5};
      }

    }

    > .widget {
      flex-basis: 100%;
      max-width: 100%; // Required for the widget's container calculations (_onResize)
      // The factor below is from the defaults of chartWidgetView
      // Please make them coincide
      min-height: #{($breakpoint-mobile / 2) * .5};
      margin-bottom: 45px;

      @media #{$mq-tablet} {
        flex-basis: calc(50% - 30px);
        // The factor below is from the defaults of chartWidgetView
        // Please make them coincide
        min-height: #{($breakpoint-tablet / 2) * .5};
        margin-bottom: 0;
      }

      @media #{$mq-laptop} {
        // The factor below is from the defaults of chartWidgetView
        // Please make them coincide
        min-height: #{($media-max-width / 2) * .5};
      }
    }

    .chart{
      &.is-invisible {
        visibility:hidden;
      }
    }

    .toolbar{
      .is-invisible {
        visibility:hidden;
      }
    }

    // Target the first "small" widget
    > div:nth-of-type(2) {
      position: relative;

      @media #{$mq-tablet} {
        margin-bottom: 0;

        &::after {
          display: block;
          position: absolute;
          top: 0;
          right: -30px;
          width: 1px;
          height: 100%;
          background-color: $color-9;
          content: '';
        }
      }
    }

    // Target the last "small" widget
    > div:last-of-type {
      margin-bottom: 0;
    }
  }

  hr {
    max-width: $media-max-width;
    margin: 50px auto;
    border: 0;
    border-top: 1px solid $color-9;

    @media #{$mq-tablet} {
      margin: 60px auto;
    }
  }

  .table {
    max-width: $media-max-width;
    margin: 0 auto;

    > .no-data {
      text-align: center;
    }
  }

  .map {
    height: 300px;
    margin-top: 50px;
    border: 1px solid rgba($color-4, .3);

    @media #{$mq-tablet} {
      height: 500px;
    }

    @media #{$mq-laptop} {
      height: calc(100vh - 332px);
    }

    .leaflet-control-attribution {
      color: $color-4;

      a {
        background-color: transparent;
        color: $color-4;
      }
    }

    .leaflet-bar a {
      color: $color-4;
    }
  }

  .graph {
    position: relative;
    left: -25px;
    width: calc(100% + 50px);
    padding: 15px 25px;
    border-bottom: 1px solid rgba($color-4, .1);
  }
}
