.l-page-creation {
  // We make sure the fixed c-action-bar doesn't cover the content if the
  // screen has a small height
  padding-bottom: 75px;

  &.-position {
    margin-top: 50px;
  }

  &.-title {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 300px);
    padding-top: 50px;

    > .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &.-type {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 360px);
  }

  &.-dataset {
    .context {
      margin: 50px 0 10px;
      font-size: $font-size-big;
      font-weight: $font-weight-light;
      letter-spacing: .2px;
      line-height: 1.14;
    }
  }

  &.-filters {
    margin-top: 50px;
  }

  &.-columns {
    padding-top: 50px;
  }

  &.-wysiwyg {
    margin-top: 50px;

    .c-fieldset {
      margin-bottom: 20px;
    }

    .c-wysiwyg {
      margin-top: 60px;
    }
  }

  &.-link {
    margin-top: 50px;

    .c-fieldset {
      margin-bottom: 20px;
    }
  }

  &.-map {
    padding-top: 50px;

    > .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .CodeMirror {
      height: calc(100vh - 502px);
    }
  }

  &.-analysis-dashboard,
  &.-indicator-dashboard,
  &.-homepage {
    margin-top: 50px;

    h2 {
      font-size: $font-size-big;
      text-align: center;
    }
  }

  &.-created {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 300px);
    padding-top: 50px;
    padding-bottom: 0;

    > .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .c-button {
        width: 200px;
        margin-bottom: 20px;
      }
    }
  }

}
