.c-tabs {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;

  border-bottom: 1px solid $black;

  > .tab {
    flex-basis: calc(50% - 15px);
    padding: 15px 10px;

    transform: translate(0, 1px);

    text-align: center;
    text-transform: uppercase;

    background-color: $gray;
    border: 1px solid $black;
    cursor: pointer;

    &.-active {
      background-color: $white;
      border-bottom: 1px solid $white;
    }
  }
}
