<% content_for :extended_header do %>
  <div class="c-extended-header -high">
    <div class="wrapper">
      <div class="description">
        <h1>Page creation</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      </div>
      <div></div>
    </div>
  </div>
<% end %>

<div class="wrapper">
  <%
    case @site_page.content_type
       when ContentType::OPEN_CONTENT
         partial = 'open_content'
       when ContentType::ANALYSIS_DASHBOARD
         partial = 'analysis_dashboard'
       when ContentType::DYNAMIC_INDICATOR_DASHBOARD
         partial = 'dynamic_indicator_dashboard'
       when ContentType::HOMEPAGE
         partial = 'homepage'
       when ContentType::LINK
         partial = 'link'
       when ContentType::MAP
         partial = 'map'
       else
         partial = 'select_type'
     end
  %>

  <h1>New <%= @site_page.content_type_humanize %></h1>

  <%= link_to 'Back', {controller: 'management/site_pages', action: 'new', site_slug: @site.slug} unless @site_page.content_type.nil? %>
  <%= link_to 'List', {controller: 'management/site_pages', action: 'index', site_slug: @site.slug} if @site_page.content_type.nil? %>

  <%= render "management/site_pages/forms/#{partial}", site_page: @site_page, form_for_path: [:management, :site, @site_page] %>
</div>
