<div class="c-header-admin">
  <div class="wrapper">
    <div>
      <div class="site-switcher js-site-switcher"></div>
      <% unless @breadcrumbs.blank? %>
        <ul class="breadcrumbs">
          <% @breadcrumbs.each_with_index do |breadcrumb, index| -%>
              <li><a href="<%= breadcrumb[:url] %>"><%= breadcrumb[:name] %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>
   <ul class="menu">
      <li><%= link_to 'Logout', auth_logout_url, {:method => :post} %></li>
    </ul>
  </div>
</div>
