<div class="c-header-admin">
  <div class="wrapper">
    <div>
      <div class="quick-links js-quick-links"></div>
      <% unless @breadcrumbs.blank? %>
          <ul class="breadcrumbs">
            <% @breadcrumbs.each do |breadcrumb| -%>
                <li>
                  <% if breadcrumb[:url] -%>
                      <a href="<%= breadcrumb[:url] %>"><%= breadcrumb[:name] %></a>
                  <% else %>
                      <%= breadcrumb[:name] %>
                  <% end %>
                </li>
            <% end %>
          </ul>
      <% end %>
    </div>
    <ul class="menu">
      <li><%= link_to current_user.name, edit_management_profile_path(current_user.id) %></li>
    </ul>
  </div>
</div>
