<%= render partial: 'management/extended_header', locals: {type: 'widget'} %>
<%= include_gon %>
<div class="js-tabs"></div>

<div class="l-page-list">
  <div class="wrapper">

    <div class="c-action-toolbar">
      <ul class="buttons">
      </ul>
      <ul class="filters">
        <li><div class="c-input-search js-table-search"></div></li>
      </ul>
    </div>

    <div class="js-table"></div>
  </div>
</div>
