* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html,
body {
  margin: 0;
  padding: 0;

}

body {
  color: rgba(11, 9, 8, 1) !important;
  font-family: $font-family-1 !important;
  font-size: $font-size-s-normal !important;
  font-weight: $font-weight-light !important;
  line-height: 1.7 !important;

  @media #{$mq-body-width} {
    margin: 0 auto !important;
  }

  &.-wide {
    max-width: none !important;
  }

  &.-map-report {
    .c-header {
      margin-bottom: 50px;
    }
  }
}

  #root{
    height: 100% !important;
  }

.map-container{

  top: 65px !important;
  position: fixed !important;

  @media #{$mq-s-mobile} {
    top: 55px !important;
    position: fixed !important;
  }
  @media #{$mq-smartphone}{
    top: 65px !important;
    position: fixed !important;
  }

  @media #{$mq-tablet} {
    top: 83px !important;
    position: fixed !important;
  }

  @media #{$mq-smartphone-big}{
    top: 75px !important;
    position: fixed !important;
  }

}

.c-header{
    background-color: $color-17 !important;
    width: 100vw !important;
    position: absolute !important;

    @media #{$mq-mobile} {
      position: static !important;
    }

    @media #{$mq-tablet} {
      position: absolute !important;
    }

    @media #{$mq-laptop} {
      position: absolute !important;
    }

    .desktop-menu{
      height: 83px !important;
      .logo-container{
        margin-top: 0px !important;
        left: -15px !important;
        position: relative !important;
      }
      .menu{
        margin-top: 15px !important;

        > ul{
          > li {
            text-transform: capitalize !important;
            cursor: pointer;
            font-size: $font-size-x-normal !important;
            > a {
              color: $color-3 !important;
            }
            a:hover { color: #F0AB00 !important; }
            >ul{
              > li{
                a:hover { color: #F0AB00 !important; }
              }
              li:hover{ background-color: rgba(255, 255, 255, 0.1) !important;
              }
            }
            &.-active {
              >a {color: #F0AB00 !important; }
            }
          }
          li:hover{
            background-color: rgba(255, 255, 255, 0.1) !important;
            > a {color: #F0AB00 !important; }
          }

          &:last-of-type {
            > li{
              &:last-of-type {
                padding-right: 15px !important;
              }
            }
          }
        }
      }
      .sub-menu-background{
        top: 83px !important;
        position: absolute !important;
        width: 100vw !important;
        background-color: black !important;
        opacity: 0.7 !important;
        height: 25px !important;
        left: 0 !important;
        z-index: 1 !important;
      }
      .sub-menu{
        position: absolute !important;
        top: 83px !important;
        padding: 0 20px !important;

        &::after {
          top: 0px !important;
          background-color: transparent !important;

        }
        a {
          color: rgba($color-3, 1) !important;
        }
        .content{
          color: rgba($color-3, 1) !important;
          .breadcrumbs {
            li {
              text-transform: capitalize !important;
              font-weight: $font-weight-light !important;
              font-size: $font-size-normal !important;
            }
          }
        }
      }
    }

    .mobile-menu {
      height: 55px !important;
      margin-top: 10px !important;

      @media #{$mq-s-mobile} {
        position: static !important;
        height: 45px !important;
        margin-top: 10px !important;
      }

      @media #{$mq-smartphone}{
        height: 55px !important;
        margin-top: 10px !important;
      }

      @media #{$mq-tablet} {
        height: 65px !important;
        margin-top: 18px !important;
      }
      @media #{$mq-smartphone-big}{
        margin: 10px !important;
        height: 55px !important;
      }

      @media #{$mq-laptop}{
        left: 5px !important;
        position: relative !important;
      }


      .hamburger-menu {
        width: 22px !important !important;
        @media #{$mq-tablet} {
          top: 20px !important;
        }
        @media #{$mq-laptop} {
          top: 20px !important;
        }
      }
      .logo-container{
        margin-top: -15px !important;
        left: -20px !important;
        position: relative !important;


        @media #{$mq-smartphone-big} {
          position: relative !important;
          top: 5px !important;
          left: -30px !important;
        }
      }
    }
}

.logo-adjust{

  position: relative !important;
  left: 15px !important;
  top: 5px !important;

  @media #{$mq-s-mobile}{
    position: relative !important;
    top: 5px !important;
    left: 25px !important;
  }

  @media #{$mq-smartphone} {
    position: relative !important;
    top: -2px !important;
    left: 15px !important;
  }

  @media #{$mq-tablet} {
    position: relative !important;
    top: 0px !important;
    left: 15px !important;
  }

  @media #{$mq-smartphone-big} {
    position: relative !important;
    top: -2px !important;
    left: 25px !important;
  }

  @media #{$mq-laptop} {
    position: relative !important;
    top: 0px !important;
    left: 10px !important;
  }

  @media #{$mq-body-width} {
    position: relative !important;
    top: 0px !important;
    left: 10px !important;
  }

}

.c-footer{
  position: absolute !important;
  bottom: 0 !important;
  width: 100vw !important;

  @media #{$mq-smartphone}{
    bottom: 0 !important;
  }

  @media #{$mq-smartphone-big}{
    bottom: -65px !important;
  }
}

.vizz-wysiwyg{
  overflow: hidden !important;
  margin-left: 0px !important;
  padding: 0 35px ;
  max-width: 1280px !important;
  margin: 0 auto !important;

  @media #{$mq-smartphone}{
    padding: 0 35px !important;
    margin: 0 !important;
    max-width: 1280px !important;

  }

  @media #{$mq-tablet}{
    padding: 0 50px !important;
    margin: 0 auto !important;
    max-width: 1280px !important;

  }

  @media #{$mq-smartphone-big}{
    padding: 0 60px !important;

  }

  @media #{$mq-laptop}{
    padding: 0 50px !important;
    max-width: 1280px !important;

  }

  @media #{$mq-body-width}{
    padding: 0 50px !important;
    max-width: 1280px !important;

  }

  .cw-wysiwyg{
    margin: 0 !important;
    max-width: 100% !important;
  }

}

.c-cover {
  height: calc(100vh - 55px) !important;
  padding: 0 !important;

  @media #{$mq-s-mobile}{
    height: calc(100vh - 55px) !important;
    top: 0 !important;
  }

  @media #{$mq-smartphone}{
    height: calc(100vh + 150px) !important;
    top: 65px !important !important;
  }

  @media #{$mq-tablet}{
    height: calc(100vh - 50px) !important;
    top: 0 !important;
  }

  @media #{$mq-smartphone-big}{
    height: calc(100vh + 50px ) !important;
    top: 65px !important;
  }

  &.-short {
    top: 0 !important;
    height: 25vh !important;
    margin-bottom: 10px !important;

    @media #{$mq-smartphone}{
      height: 50vh !important;
    }

    @media #{$mq-tablet} {
      height: 20vh !important;
    }

    @media #{$mq-smartphone-big}{
      height: 50vh !important;

    }

    @media #{$mq-laptop} {
      height: 30vh !important;
    }

    @media #{$mq-laptop} {
      height: 30vh !important;
    }
  }
  .wrapper{
    max-width: $body-max-width !important;
  }
}

.fa-page{
  padding: 0 0 130px !important;
  position: relative !important;

  &:not(.-homepage) {
    min-height: calc(70vh - 10px);
  }

  @media #{$mq-smartphone}{
    padding: 0 0 130px !important;
  }

  @media #{$mq-tablet}{
    padding: 0 0 50px !important;
  }
  @media #{$mq-smartphone-big}{
    padding: 0 0 50px !important;
  }
}

.button_wrapper{

  position: absolute !important;
  text-align: center !important;


  @media #{$mq-s-mobile}{
    left: 23% !important;
    top: 50vh !important;
  }

  left: 26% !important;
  top: 50vh !important;


  @media #{$mq-smartphone} {
    left: 28% !important;
    top: 65vh !important;
    position: absolute !important;
    text-align: left !important;
  }

  @media #{$mq-s-mobile-l} {
    left: 25% !important;
    top: 85vh !important;
    position: absolute !important;
    text-align: left !important;
  }

  @media #{$mq-tablet} {
    top: unset !important;
    left: 35vw !important;
    position: absolute !important;
    text-align: left !important;
  }

  @media #{$mq-smartphone-big} {
    top: unset !important;
    position: absolute !important;
    text-align: left !important;
  }
}

.home_page_atlas_button{

  text-decoration: none;
  background-color: rgba(11,9,8,1);
  border: none;
  color: #F0AB00;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 2px 2px;
  border-radius: 20px;
  cursor:pointer;


  font-family: $font-family-1;
  font-size: 20px !important;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .7px;



  @media #{$mq-smartphone}{
    font-size: 20px !important;
  }

  @media #{$mq-tablet} {
    font-size: 22px !important;
    margin-left: 100px !important;
  }

  @media #{$mq-smartphone-big}{
    font-size: 20px !important;
    margin-left: 50px !important;
  }

  @media #{$mq-laptop} {
    font-size: 27px!important;
    margin-left: 100px !important;
  }

  @media #{$mq-body-width} {
    font-size: 33px !important;
    margin-left: 50px !important;
  }
}

.cover-title-para{
  font-size: 20px !important;
  font-weight: $font-weight-bold !important;
  margin: 0 !important;
  color: #97BD3D !important;
  line-height: 1.5;

  @media #{$mq-tablet} {
    font-size: 22px !important;
    font-weight: $font-weight-bold !important;
    margin: 0 !important;
    color: #97BD3D !important;
  }
  @media #{$mq-laptop} {
    font-size: 27px!important;
    font-weight: $font-weight-bold!important;
    color: #97BD3D!important;
  }

  @media #{$mq-body-width} {
    font-size: 33px !important;
    font-weight: $font-weight-bold !important;
    color: #97BD3D !important;
  }

}

.cover-title-left-other-page{
  font-weight: $font-weight-bold;
  line-height: 1.4;
  text-align: left;
  font-size: $font-size-x-medium;
  top: 15vh;
  position: absolute;
  padding: 0 20px;
  color: #fff;


  @media #{$mq-smartphone}{
    font-size: $font-size-xx-medium;
    top: 20vh;
    position: absolute;
  }

  @media #{$mq-tablet} {
    font-size: $font-size-big;
    top: -7vh;
    position: absolute;
  }

  @media #{$mq-smartphone-big}{
    font-size: $font-size-xx-medium;
    top: -15vh;
    position: absolute;
    padding: 0 30px;
  }

  @media #{$mq-laptop} {
    font-size: $font-size-big;
    top: -7vh;
    position: absolute;
  }

  @media #{$mq-body-width} {
    font-size: $font-size-big;
    top: -5vh;
    position: absolute;
  }

}

ul {
  display: inline-block;
  margin: 0 ;
  padding: 0 ;

  > li {
    display: inline-block;
    list-style: none;
  }
}

a {
  // Do not set inline-block here otherwise the links will be forced to be on online line
  color: currentColor;
  text-decoration: none;
}

.wrapper {
  width: 100% !important;
  padding: 0 $wrapper-mobile-padding !important;

  @media #{$mq-mobile} {
    padding: 0 $wrapper-tablet-padding !important;
  }

  @media #{$mq-tablet} {
    padding: 0 $wrapper-padding !important;
  }

  @media #{$mq-smartphone} {
    padding: 0 $wrapper-mobile-padding !important;
  }
}

.is-hidden {
  display: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.turbolinks-progress-bar {
  background-color: $color-1;
}

::selection {
  background: rgba($color-1, .2);
}

::-moz-selection {
  background: rgba($color-1, .2);
}

.app-header {
  top: 30px !important; // We need to override map builder styles
}

.tab-buttons__tab.mobile-show[data-value="MORE"] {
  display: none !important;
}

.tab-buttons__tab.mobile-show[data-value="ANALYSIS"] {
  display: none !important;
}

.tab-buttons__tab.pointer[data-value="ANALYSIS"] {
  display: none !important;
}

// Native language picker of Transifex
.txlive-langselector {
  display: none;
}

form{
  .text_input{
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 35px;
    font-size: 15px;
    font-family: 'Georgia';
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 6px 12px;
  }

  .form_input_div{
    margin-top: 5px;
    font-size: 15px;
  }

  .contact_text_field{
    margin: 10px;
  }

  .form_label{
    font-size: 13px;
    font-family: 'Georgia';
    font-weight: 600;

    @media #{$mq-smartphone}{
      font-size: 15px;
    }

    @media #{$mq-tablet}{
      font-size: 15px;
    }

    @media #{$mq-smartphone-big}{
      font-size: 15px;
    }

    @media #{$mq-laptop}{
      font-size: 15px;
    }

  }

  .form_element_wide{
    width: 70vw;

    @media #{$mq-smartphone}{
      width: 70vw;
    }

    @media #{$mq-tablet}{
      width: 50vw;
    }

    @media #{$mq-smartphone-big}{
      width: 50vw;
    }

    @media #{$mq-laptop}{
      width: 50vw;
    }
  }

  .form_element_normal{
    width: 70vw;

    @media #{$mq-smartphone}{
      width: 55vw;
    }

    @media #{$mq-tablet}{
      width: 40vw;
    }

    @media #{$mq-laptop}{
      width: 30vw;
    }

  }

  .textarea_input{
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Georgia';
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 6px 12px;

    height: 200px;

  }

  .submit_form{
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ccc;
    height: 40px;
    margin: 10px;
    width: 80px;
    background-color: transparent;
    font-family: 'Georgia';
    font-weight: 600;
    font-size: 15px;
    background-color: #6D8D72;
    color: #fff;
  }
}

.cover-description-para{
  display: none;

  max-width: 100% !important;
  font-size: 15px !important;
  font-weight: $font-weight-normal !important;
  line-height: 1.5 !important;
  margin: 0 !important;
  color: #fff !important;

  @media #{$mq-tablet} {
    max-width: 110% !important;
    font-size: 17px !important;
    font-weight: $font-weight-normal !important;
    line-height: 1.5 !important;
    margin: 0 !important;
    color: #fff !important;
  }

  @media #{$mq-laptop} {
    max-width: 100% !important;
    font-size: $font-size-medium !important;
    font-weight: $font-weight-normal !important;
    line-height: 1.5 !important;
    margin: 0 !important;
    color: #fff !important;
  }
  @media #{$mq-body-width} {
    max-width: 90% !important;
    font-size: $font-size-x-medium !important;
    font-weight: $font-weight-normal !important;
    line-height: 1.5 !important;
    margin: 0 !important;
    color: #fff !important;
  }
}

.cover-page-wrapper{
  margin-right: 10px !important;

  @media #{$mq-mobile}{
    margin-right: 30px !important;
  }
}

.hr-homepage{

  max-width: 100% !important;
  text-align: left !important;
  margin-left: 0 !important;
  color: #97BD3D !important;
  border: 0.5px solid !important;
  margin-bottom: 20px !important;


  @media #{$mq-tablet}{
    max-width: 100% !important;
    text-align: left !important;
    margin-left: 0 !important;
    color: #97BD3D !important;
    border: 0.5px solid !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }

  @media #{$mq-laptop}{
    max-width: 100% !important;
    text-align: left !important;
    margin-left: 0 !important;
    color: #97BD3D !important;
    border: 0.5px solid !important;
    margin-bottom: 35px !important;
  }

  @media #{$mq-smartphone-big}{
    margin-bottom: 20px !important;
    max-width: 100% !important;
    text-align: left !important;
    margin-left: 0 !important;
    color: #97BD3D !important;
    border: 0.5px solid !important;
  }

}

.restoration_image_div{
  width: 100%;
}

.cover_page_wrapper_envelope{

  max-width: 100%;
  height: auto;
  background-color: rgba(11,8,9,0.7);
  padding: 30px;

  @media #{$mq-s-mobile}{
    padding: 20px 5px 20px 20px;
  }

  @media #{$mq-mobile}{
    padding: 20px 5px 20px 20px;
  }

  @media #{$mq-smartphone}{
    background-color: rgba(11,8,9,0.7);
    max-width: 150%;
    padding: 30px 0px 30px 20px;

    height: auto;
  }

  @media #{$mq-tablet}{
    background-color: rgba(11,8,9,0.7);
    max-width: 50%;
    padding: 30px 0px 30px 20px;

    height: auto;
  }

  @media #{$mq-smartphone-big}{
    background-color: rgba(11,8,9,0.7);
    max-width: 50%;
    padding: 20px;

    height: auto;
  }

  @media #{$mq-laptop}{
    background-color: rgba(11,8,9,0.7);
    max-width: 50%;
    padding: 30px;

    height: auto;
  }

  @media #{$mq-body-width}{
    background-color: rgba(11,8,9,0.7);
    max-width: 50%;
    padding: 30px;

    height: auto;
  }
}

.hr_div{

  width: 100% !important;
  display: inline-block !important;
  float: left !important;
}


.atlas_flex_div{


  @media #{$mq-tablet}{

    display: inline-block !important;
    float: right !important;
  }

  @media #{$mq-smartphone-big}{

    display: inline-block !important;
    float: right !important;
  }

  @media #{$mq-laptop}{
    display: inline-block !important;
    float: right !important;
  }

  @media #{$mq-body-width}{
    display: inline-block !important;
    float: right !important;
  }

}

.restoration_image{

  height: 175px;
  margin-left: -50px;
  margin-bottom: -30px;
  margin-top: -20px;

  @media #{$mq-smartphone} {
    height: 150px;
    margin-left: -45px;
    margin-bottom: -35px;
    margin-top: -40px;
  }

  @media #{$mq-tablet} {
    height: 200px;
    margin-left: -55px;
    margin-bottom: -50px;
    margin-top: -40px;
  }

  @media #{$mq-smartphone-big} {
    height: 150px;
    margin-left: -45px;
    margin-bottom: -35px;
    margin-top: -40px;
  }

  @media #{$mq-laptop} {
    height: 250px;
    margin-left: -75px;
    margin-bottom: -60px;
    margin-top: -40px;
  }

  @media #{$mq-body-width} {
    height: 300px;
    margin-left: -85px;
    margin-bottom: -60px;
    margin-top: -40px;
  }
}

.cover-elem-wrapper{
  width: 80%;

  top: 15vh;
  position: absolute;
  margin-left: 20px;

  @media #{$mq-s-mobile}{
    width: 85% !important;
    margin-left: 7px;
    top: 15vh;
  }

  @media #{$mq-smartphone}{
    width: 50% !important;
    margin-left: 20vw;
    top: 30vh;
  }

  @media #{$mq-tablet} {
    margin-left: 20px;
    top: -5vh;
    position: relative;
  }

  @media #{$mq-smartphone-big}{
    margin-left: 20px;
    top: -25vh;
    position: relative;
    width: 80%;
  }


  @media #{$mq-laptop} {
    margin-left: 25px;
    top: -5vh;
    position: relative;
  }
  @media #{$mq-body-width} {
    margin-left: 25px;

  }

}

.dynamic_heading_1{

  font-size: 21px  !important;

  @media #{$mq-s-mobile}{
    font-size: $font-size-x-medium  !important;
  }

  @media #{$mq-smartphone}{
    font-size: $font-size-x-medium  !important;
  }

  @media #{$mq-tablet} {
    font-size: $font-size-xx-medium  !important;
  }

  @media #{$mq-smartphone-big}{
    font-size: $font-size-x-medium  !important;
  }

  @media #{$mq-laptop} {
    font-size: $font-size-xx-medium  !important;
  }
  @media #{$mq-body-width} {
    font-size: $font-size-xx-medium  !important;
  }
}

.flash_container{
  position: fixed !important;
  bottom: 0 !important;
  left: 2% !important;
  right: 2% !important;
  width: 96% !important;
  align: center !important;
}

.alert{
  padding: 15px !important;
  margin-bottom: 20px !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
  font-size: 18px;
}
.alert-error {
    background-color: #f2dede !important;
    border-color: #eed3d7 !important;
    color: #b94a48 !important;
    text-align: center !important;
 }

.alert-alert {
    background-color: #f2dede !important;
    border-color: #eed3d7 !important;
    color: #b94a48 !important;
    text-align: center !important;
 }

.alert-success {
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    color: #468847 !important;
    text-align: center !important;
 }

.alert-notice {
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    color: #468847 !important;
    text-align: center !important;
 }

 .alert-dismissible{
  padding-right: 15px !important;
 }

 .close{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  position: relative;
  top: 10px;
  right: 10px;
 }

 .infoWindow__footer{
  display: none !important;
 }

 .control-panel__print{
  display: none !important;
 }

 .control-panel__draw-upload{
  display: none !important;
 }


.atlas_wrapper{

  text-align: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
 .button_print{
  font-size: 15px;
  font-weight: 500;
  border-radius: 16px;
  color: #555;
  border: 2px solid #eee;
  position: relative;
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-transform: uppercase;
  background-color: #fff;
 }
