* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  max-width: $body-max-width;
  color: $color-4;
  font-family: $font-family-1;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  line-height: 1.7;

  @media #{$mq-body-width} {
    margin: 0 auto;
  }

  &.-wide {
    max-width: none;
  }
}

ul {
  display: inline-block;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    list-style: none;
  }
}

a {
  // Do not set inline-block here otherwise the links will be forced to be on online line
  padding: 0 3px;
  color: currentColor;
  text-decoration: none;
  background-color: rgba($color-1, .2);
}

.wrapper {
  width: 100%;
  padding: 0 $wrapper-mobile-padding;

  @media #{$mq-mobile} {
    padding: 0 $wrapper-tablet-padding;
  }

  @media #{$mq-tablet} {
    padding: 0 $wrapper-padding;
  }
}

.is-hidden {
  display: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.turbolinks-progress-bar {
  background-color: $color-1;
}

::selection {
  background: rgba($color-1, .2);
}

::-moz-selection {
  background: rgba($color-1, .2);
}

.app-header {
  top: 30px !important; // We need to override map builder styles
}

@media (max-width:950px) {
  .map-container{
    top: 55px !important;
    position: fixed !important;
  }
}

.tab-buttons__tab.mobile-show[data-value="MORE"] {
  display: none !important;
}

