// USER SETTINGS
// These variables are not set here because they are dynamically added to the stylesheet after the
// user changes the settings of the site in the admin section. See _template-default.scss to see
// how the variables are created.
$template: $template; // String: «default», «india»

$accent-color: $accent-color; // Hex code

$content-width: $content-width; // Pixels or percentage
$content-font: $content-font; // Font family name
$heading-font: $heading-font; // Font family name
$cover-size: $cover-size; // Pixels
$cover-text-alignment: $cover-text-alignment; // text-align value

$header-menu-items-separator: $header-menu-items-separator; // Boolean
$header-background-colour: $header-background-colour; // String: «dark», «grey», «white»
$header-background-transparency: $header-background-transparency; // String: «solid», «semi», «transparent»
// Not used in the stylesheet:
// $header-country-colours: $header-country-colours;

$footer-background-colour: $footer-background-colour; // String: «dark», «grey», «accent-color»
$footer-text-colour: $footer-text-colour; // String: «white», «accent-color»
$footer-links-colour: $footer-links-colour; // String: «white», «accent-color»

// FONTS
@font-face {
  font-family: 'Fira Sans';
  font-weight: 300;
  src: font-url('fonts/FiraSansOT-Light.otf');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: font-url('fonts/FiraSansOT-Regular.otf');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: font-url('fonts/FiraSansOT-Medium.otf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  src: font-url('fonts/Merriweather/Merriweather-Light.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  src: font-url('fonts/Merriweather/Merriweather-Regular.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  src: font-url('fonts/Merriweather/Merriweather-Bold.ttf');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: font-url('fonts/Merriweather/Merriweather-LightItalic.ttf');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-weight: 300;
  src: font-url('fonts/Merriweather/MerriweatherSans-Light.ttf');
}

@font-face {
  font-family: 'Acumin Pro Condensed';
  font-weight: 300;
  src: font-url('fonts/Acumin_Pro_Condensed/acuminprocond-light.otf');
}

@font-face {
  font-family: 'Acumin Pro Condensed';
  font-weight: 700;
  src: font-url('fonts/Acumin_Pro_Condensed/acuminprocond-bold.otf');
}

@font-face {
  font-family: 'Acumin Pro Condensed';
  font-style: italic;
  font-weight: 300;
  src: font-url('fonts/Acumin_Pro_Condensed/acuminprocond-lightitalic.otf');
}

@font-face {
  font-family: 'Acumin Pro Condensed';
  font-style: italic;
  font-weight: 700;
  src: font-url('fonts/Acumin_Pro_Condensed/acuminprocond-bolditalic.otf');
}

@font-face {
  font-family: 'Georgia';
  font-weight: 400;
  src: font-url('fonts/Georgia.ttf');
}

// The widgets might reference directly the Lato font, which is not present in this project, so we
// hook it up to Fira Sans instead
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: font-url('fonts/FiraSansOT-Regular.otf');
}

// FONT SIZES
$font-factor: 1;
@if $content-font == 'Roboto Condensed' {
  $font-factor: 1.07;
}
@if $content-font == 'Acumin Pro Condensed' {
  $font-factor: 1.14;
}

$font-size-small:    #{ceil(12px * $font-factor)};
$font-size-normal:   #{ceil(14px * $font-factor)};
$font-size-s-normal: #{ceil(15px * $font-factor)};
$font-size-x-normal: #{ceil(19px * $font-factor)};
$font-size-medium:   #{ceil(21px * $font-factor)};
$font-size-big:      #{ceil(35px * $font-factor)};
$font-size-x-big:    #{ceil(40px * $font-factor)};
$font-size-huge:     #{ceil(47px * $font-factor)};

// FONT WEIGHTS
$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   700;

// COLORS
// $color-1 doesn't exist because it is replaced by $accent-color
$color-2:  #f7f7f7;
$color-3:  #fff;
$color-4:  #555;
$color-5:  #000;
$color-6:  #333;
$color-7:  #3b3b3b;
$color-8:  #f5f4f4;
$color-9:  #eceaea;
$color-10: darken(saturate($accent-color, 10%), 5%);
$color-11: #fff00e;
$color-12: #dd3e21;
$color-13: #dededd;
$color-14: #ff706c;
$color-15: #404040;
$color-16: tint($accent-color, 85%);
$color-17: #0B0908;
$color-18: #d8d8d8;

// GENERAL LAYOUT
$content-max-width:       750px;
$media-max-width:        1060px;
$image-ratio:            0.6666; // width * ratio = height
$wrapper-padding:          30px;
$wrapper-tablet-padding:   30px;
$wrapper-mobile-padding:   15px;

// BREAKPOINTS
$breakpoint-mobile:  425px;
$breakpoint-tablet:  768px;
$breakpoint-laptop: 1024px;
$breakpoint-navbar: 1033px;

// MEDIA QUERIES
$mq-mobile: 'screen and (min-width: #{$breakpoint-mobile})';
$mq-tablet: 'screen and (min-width: #{$breakpoint-tablet})';
$mq-laptop: 'screen and (min-width: #{$breakpoint-laptop})';
$mq-navbar: 'screen and (min-width: #{$breakpoint-navbar})';

$mq-body-width: 'screen and (min-width: #{$content-width})';

// MISC
$admin: false;
