// This file is used in development only
$color-1:  #97bd3d;

@import
'../../../node_modules/widget-editor/dist/styles.min',
'../../../node_modules/rc-slider/assets/index',
'../../../node_modules/react-select/dist/react-select',
'../../../node_modules/vizz-wysiwyg/build/rw',
'leaflet',
'../helpers',
'settings-theme-fa',
'base-theme-fa',
'../layouts/shared/*',
'../layouts/front/*',
'../components/shared/**/*',
'../components/front/**/*';
