<h3>Layer Settings</h3>

<%= form.fields_for :settings, @page.settings_structure do |settings| %>

  <% fields = {
      'viirsFires': :check_box, 'modisFires': :check_box,
      'intactForests': :check_box, 'aboveGroundBiomass': :check_box,
      'landCover': :check_box, 'mangroves': :check_box,
      'sadAlerts': :check_box, 'gladAlerts': :check_box,
      'terralAlerts': :check_box, 'formaAlerts': :check_box,
  } %>

  <% fields.each do |field| %>
     <div class="container">
      <div class="c-checkbox">
        <%= settings.check_box field.first, id: field.first %>
        <%= settings.label field.first.capitalize, for: field.first %>
      </div>
    </div>
  <% end %>

<% end %>
