<h3>Tab Settings</h3>

<%= form.fields_for :settings, @page.settings_structure do |settings| %>
  <% fields = {
      'includeDocumentsTab': :check_box, 'includeMeasurementTab': :check_box
  } %>
  <% fields.each do |field| %>
    <div class="container">
      <div class="c-checkbox">
        <%= settings.check_box field.first, id: field.first %>
        <%= settings.label field.first.capitalize, for: field.first %>
      </div>
    </div>
  <% end %>
<% end %>
