<div class="l-admin">

  <div class="c-header">
    <div class="c-title">
      <h2>create</h2>
    </div>
  </div>

  <div id="content">

    <div class="c-tabs">
      <div class="tab" data-type="sites">sites</div>
      <div class="tab" data-type="users">users</div>
    </div>

    <div id="tab-content" class="tab-content"></div>

    <div id="table" class="table-content">
      <div id="js--filter" class="filters"></div>
      <div id="js--table" class="table-container"></div>
    </div>

  </div>

</div>
