.l-site-creation {
  // We make sure the fixed c-action-bar doesn't cover the content if the
  // screen has a small height
  padding-bottom: 75px;

  hr {
    margin: 30px 0;
    border: 0;
    border-bottom: 1px solid $color-7;
  }

  &.-name {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 300px);
    padding-top: 50px;

    > .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &.-users {
    padding-top: 50px;
  }

  &.-style {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 300px);
    padding-top: 50px;

    .templates {
      display: flex;
      align-items: stretch;
      justify-content: center;

      .template {
        position: relative;
        margin: 10px;

        input {
          position: absolute;
          left: -1000px;

          &:not(:checked) + .content {
            opacity: .3;
          }

          &:focus + .content img{
            border-color: $color-1;
          }
        }

        label {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-indent: -10000px; // We want to keep the text for accessibility
          cursor: pointer;
          z-index: 1; // Required to be positioned on top

          &:hover + input + .content {
            opacity: 1;
          }
        }

        .content {
          transition: .3s opacity;

          img {
            border: 1px solid $color-7;
            border-radius: 7px;
          }

          p {
            margin: 7px 0 0;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  &.-settings {
    .c-centered-input {
      justify-content: space-between;
      width: 400px;
      margin: 0 auto 30px;
    }
  }

  &.-finish {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 300px);
    padding-top: 50px;
    padding-bottom: 0;

    > .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .c-button {
        width: 200px;
        margin-bottom: 20px;
      }
    }
  }

}
