.l-site-creation {
  // We make sure the fixed c-action-bar doesn't cover the content if the
  // screen has a small height
  padding-bottom: 75px;

  hr {
    margin: 30px 0;
    border: 0;
    border-bottom: 1px solid $color-13;
  }

  &.-name {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 300px);
    padding-top: 50px;

    > .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &.-users {
    padding-top: 50px;
  }

  &.-style {
    display: flex;
    align-items: center;
    max-width: 780px;
    min-height: calc(100vh - 300px);
    margin: 0 auto;
    padding-top: 50px;

    > .wrapper {
      padding: 0;
    }

    hr {
      margin: 50px 0;
    }

    .templates {
      display: flex;
      align-items: stretch;
      justify-content: center;

      .template {
        position: relative;
        margin: 10px;

        input {
          position: absolute;
          left: -1000px;

          &:checked + .content {
            &::before {
              opacity: 1;
            }
          }
        }

        label {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-indent: -10000px; // We want to keep the text for accessibility
          cursor: pointer;
          z-index: 1; // Required to be positioned on top

          &:focus + input + .content img {
            border: 2px solid $color-1;
          }
        }

        .content {
          position: relative;
          width: 350px;

          &::before {
            position: absolute;
            top: 25px;
            left: 0;
            width: 100%;
            height: calc(100% - 29px);
            transition: opacity .3s;
            border-radius: 4px;
            background: asset-url('icons/large-check-icon.svg') no-repeat center center, rgba($color-1, .8);
            content: '';
            opacity: 0;
          }

          img {
            border: 1px solid $color-13;
            border-radius: 4px;
            width: 100%;
          }

          p {
            margin: 0 0 7px;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
          }
        }
      }
    }

    .theme-color {
      position: relative;
      width: 160px;

      p {
        margin-bottom: 7px;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
      }

      input {
        // We don't want the input to be shown but if we use "display: none;"
        // Chrome won't fire the events, so we just remove it from the viewport
        position: absolute;
        top: 0;
        left: -10000px;
      }

      label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-indent: -10000px;
        cursor: pointer;

        &:focus + .preview {
          border: 2px solid $color-1;
        }
      }

      .preview {
        width: 160px;
        height: 100px;
        border: 1px solid $color-13;
      }
    }
  }

  &.-settings {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 300px);
    padding-top: 50px;

    .settings {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      > div {
        position: relative;

        h3 {
          margin-top: 0;
          font-size: $font-size-normal;
          text-transform: uppercase;
        }

        > label {
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
          height: 170px;
          top: 31px;
          text-indent: -10000px;
          cursor: pointer;
          z-index: 1;

          &:focus + .placeholder {
            background: $color-1;

            span {
              color: $color-3;
            }
          }

          &:focus + .preview {
            border-color: $color-1;
          }
        }

        input[type='file'] {
          display: none;
        }

        .placeholder {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100px;
          border: 1px dashed $color-1;

          &.-high {
            height: 170px;
          }

          span {
            flex-basis: 70px;
            color: $color-1;
            font-weight: $font-weight-bold;
            letter-spacing: .1px;
            text-align: center;
            text-transform: uppercase;
          }
        }

        > .preview {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100px;
          border: 1px solid $color-13;
          background-color: $color-2;
          background-position: center center;
          background-size: cover;

          &.-high {
            height: 170px;
          }

          > img {
            display: block;
            max-width: 100%;
            max-height: 100%;
          }
        }

        .restrictions {
          flex-basis: 50%;
          margin-top: 10px;
          font-size: $font-size-small;
        }
      }

      > .logo {
        flex-basis: calc(25% - 15px);
        margin-right: 20px;
      }

      > .icon {
        flex-basis: calc(25% - 15px);
        margin-right: 20px;
      }

      > .flag-colors {
        flex-basis: calc(50% - 10px);
      }

      > hr {
        flex-basis: 100%;
        margin: 55px 0;
      }

      > .homepage-cover {
        flex-basis: calc(50% - 10px);
        margin-right: 20px;
      }

      > .content-cover {
        flex-basis: calc(50% - 10px);
      }

      .cover-attribution {
        display: flex;
        flex-direction: column;
        margin: 10px;
        flex-basis: 50%;

        input {
          margin: 12px auto 0;
          font-style: italic;
          text-align: right;
          font-family: $font-family-1;
          font-size: $font-size-small;
          color: $color-4;
          border: none;
          height: 12px;
          margin: 1px;
        }
      }

      .file-input-footer {
        display: flex;
      }
    }
  }

  &.-finish {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 300px);
    padding-top: 50px;
    padding-bottom: 0;

    > .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .c-button {
        width: 200px;
        margin-bottom: 20px;
      }
    }
  }

  &.-site-settings {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 300px);
    padding-top: 50px;

    > .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .c-checkbox {
      min-height: 30px;
    }
  }

}
