.l-template-preview {
  .c-header {
    .logo {
      margin: 0;
      padding: 0;
      width: 85px;
      height: 85px;
      background: $color-3;
      border: 0;
      font-size: $font-size-s-normal;
      cursor: pointer;
    }

    .button-item button {
      padding: 0;
      font-family: inherit;
      font-size: inherit;
      text-transform: inherit;
      color: currentColor;
      border: 0;
      background: none;
      cursor: pointer;
    }
  }

  .c-notification {
    position: static;
  }
}
