* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  color: $color-4;
  font-family: $font-family-1;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$mq-body-width} {
    margin: 0 auto;
  }

  &.-wide {
    max-width: none;
  }
}

ul {
  display: inline-block;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    list-style: none;
  }
}

a {
  text-decoration: none;
}

input {
  font-family: $font-family-1;
}

.wrapper {
  max-width: $body-max-width;
  width: 100%;
  padding: 0 $wrapper-mobile-padding;
  margin: 0 auto;

  @media #{$mq-mobile} {
    padding: 0 $wrapper-tablet-padding;
  }

  @media #{$mq-tablet} {
    padding: 0 $wrapper-padding;
  }
}

.is-hidden {
  display: none;
}

.turbolinks-progress-bar {
  background-color: $color-1;
}

::selection {
  background: rgba($color-1, .2);
}

::-moz-selection {
  background: rgba($color-1, .2);
}
