.c-cover {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  padding: 50px 0 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media #{$mq-mobile} {
    padding: 100px 0;
  }

  @media #{$mq-tablet} {
    // If you update the height, don't forget to update the recommended size
    // on the site settings
    height: 500px;
    padding: 0;
  }

  &.-short {
    @media #{$mq-tablet} {
      // If you update the height, don't forget to update the recommended size
      // on the site settings
      height: 250px;
    }

    &::after {
      height: 65%;
    }
  }

  &::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33%;
    content: '';
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0,0,0, 0.3));
  }

  > .wrapper {
    z-index: 1;
    margin-bottom: 50px;

    @if $theme == 3 {
      @media #{$mq-tablet} {
        position: absolute;
        top: 50%;
        // Position container at the center , 50px = header height
        transform: translateY(calc(-50% + 50px));
      }
    }
  }

  .cover-title {
    max-width: $content-max-width;
    margin: 0 auto;
    color: $color-3;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-align: left;

    @if $theme == 3 {
      text-align: center;
      line-height: 1.2;
    }

    @if $theme == 2 {
      font-size: $font-size-x-big;
      letter-spacing: .7px;
      text-transform: uppercase;
    }

    @if $theme == 1 or $theme == 3 {
      font-family: $font-family-2;
      font-size: $font-size-x-big;
      letter-spacing: 1.25px;

      @media #{$mq-tablet} {
        font-size: $font-size-huge;
      }
    }
  }

  .cover-subtitle {
    max-width: $content-max-width;
    margin: 0 auto;
    color: $color-3;
    font-weight: $font-weight-bold;
    line-height: 1;
    font-size: $font-size-small;
    text-transform: uppercase;
    padding-bottom: 15px;

    @if $theme == 2 {
      letter-spacing: .7px;
      text-transform: uppercase;
    }

    @if $theme == 1 or $theme == 3 {
      font-family: $font-family-2;
      letter-spacing: 1.25px;
    }
  }

  .cover-attribution {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 3px 3px 0;
    color: white;
    z-index: 2;

    > a {
      background-color: transparent;
      color: $color-3;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &::selection {
        background-color: transparent;
      }
    }

    > p {
      line-height: 0;
    }

  }
}
