.c-content {
  margin: 50px 0 60px;

  @media #{$mq-mobile} {
    margin: 60px 0 90px;
  }

  .content-title,
  .paragraph,
  .quote {
    max-width: $content-max-width;
    margin: 0 auto;
  }


  .content-title {
    margin: 0 auto 25px;
    font-size: $font-size-huge;
    letter-spacing: .3px;

    @if $theme == 2 {
      color: $color-4;
      font-weight: $font-weight-light;
    } @else {
      color: $color-1;
      font-weight: $font-weight-bold;
    }
  }

  .paragraph {
    color: $color-4;
    letter-spacing: .1px;

    @if $theme == 2 {
      line-height: 1.7;
    } @else {
      line-height: 2.1;
      font-family: $font-family-2;
      font-weight: $font-weight-light;
      font-size: $font-size-s-normal;
    }

    &.-intro {
      font-size: $font-size-x-normal;
      font-weight: $font-weight-light;
    }

    & + .paragraph {
      margin: 20px auto 0;
    }
  }

  .quote {
    margin: 60px auto;
    font-size: $font-size-big;
    font-weight: $font-weight-light;

    @if $theme == 2 {
      color: $color-4;
      letter-spacing: .2px;
      line-height: 1.1;
    } @else {
      color: $color-1;
      font-style: italic;
    }
  }

  .image {
    width: 100%;
    height: auto;
    margin: 35px 0 50px;

    @media #{$mq-mobile} {
      margin: 65px 0 80px;
    }
  }

  a {
    color: currentColor;

    @if $theme == 2 {
      display: inline-block;
      padding: 0 3px;
      background-color: rgba($color-1, .2);
    } @else {
      color: $color-1;
      text-decoration: underline;
    }
  }
}
