.c-cover {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 50px 0 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media #{$mq-mobile} {
    padding: 100px 0;
  }

  @media #{$mq-tablet} {
    // If you update the height, don't forget to update the recommended size
    // on the site settings
    height: 500px;
    padding: 0;
  }

  &.-short {
    @media #{$mq-tablet} {
      // If you update the height, don't forget to update the recommended size
      // on the site settings
      height: 250px;
    }
  }

  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';

    @if $theme == 2 {
      background-color: rgba($color-5, .3);
    } @else {
      background-color: rgba($color-1, .4);
    }
  }

  > .wrapper {
    z-index: 1;
  }

  .cover-title {
    max-width: $content-max-width;
    margin: 0 auto;
    color: $color-3;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-align: center;

    @if $theme == 2 {
      font-size: $font-size-x-big;
      letter-spacing: .7px;
      text-transform: uppercase;
    } @else {
      font-family: $font-family-2;
      font-size: $font-size-huge;
      letter-spacing: 1.25px;

      @media #{$mq-tablet} {
        font-size: $font-size-x-huge;
      }
    }
  }
}
