.c-dashboard-bookmarks {
  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  h3 {
    margin: 0;
    font-size: $font-size-x-normal;
    font-weight: $font-weight-light;
    line-height: 1.7;
  }

  > .bookmarks {
    display: block;
    width: 100%;

    > li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 15px;
      border-bottom: 1px solid rgba($color-4, .1);
    }
  }

  .buttons {
    flex-shrink: 0;

    button {
      display: inline-block;
      position: relative;
      margin: 0;
      margin-left: 15px;
      padding: 0;
      transition: opacity .3s;
      border: 0;
      background-color: transparent;
      text-indent: -10000px; // We keep the text for accessibility matter
      cursor: pointer;
      opacity: .3;

      &:hover {
        opacity: 1;

        @if $theme == 1 {
          path {
            fill: $color-1;
          }
        }
      }

      &.-apply {
        width: 16px;
        height: 11px;
      }

      &.-delete {
        width: 10px;
        height: 14px;
      }

      > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        path {
          transition: fill .3s;
        }
      }
    }
  }
}
