.c-pre-footer {
  padding: 15px 0;

  @if $footer-background-colour == 'dark' or $template == 'india' {
    background-color: rgba($color-7, .2);
  }

  @if $footer-background-colour == 'grey' {
    background-color: rgba($color-18, .2);
  }

  @if $footer-background-colour == 'accent-color' {
    background-color: rgba($accent-color, .2);
  }

  @media print {
    display: none;
  }
}

.c-footer {
  padding: 15px 0;

  @if $footer-text-colour == 'white' or $template == 'india' {
    color: $color-3;
  }

  @if $footer-text-colour == 'accent-color' {
    color: $accent-color;
  }

  @if $footer-background-colour == 'dark' {
    background-color: $color-7;
  }

  @if $footer-background-colour == 'grey' {
    background-color: $color-18;
  }

  @if $footer-background-colour == 'accent-color' {
    background-color: $accent-color;
  }

  @if $template == 'india' {
    background-color: $color-17;
  }

  @media #{$mq-tablet} {
    height: 50px;
    padding: 0;
  }

  @media print {
    display: none;
  }

  a {
    @if $footer-links-colour == 'white' or $template == 'india' {
      color: $color-3;
    }

    @if $footer-links-colour == 'accent-color' {
      color: $accent-color;
    }
  }

  > .wrapper {
    max-width: $content-width;
    height: 100%;
    margin: 0 auto;

    @media #{$mq-tablet} {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .separator {
    @if $footer-text-colour == 'white' {
      color: rgba($color-3, 0.3);
    }

    @if $footer-text-colour == 'accent-color' {
      color: rgba($accent-color, .3);
    }

    @if $template == 'india' {
      color: $color-4;
    }
  }

  .site-links-list {
    > li {
      &:after {
        display: inline-block;
        margin: 0 3px;
        opacity: .3;
        content: "|";
      }

      &:last-of-type {
        &:after {
          content: none;
        }
      }

      > .site-link {
        font-weight: $font-weight-light;
        letter-spacing: 0.1px;
        line-height: 1.7;
      }
    }
  }

  .share {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0;

    @media #{$mq-tablet} {
      flex-direction: row;
      margin: 0;
    }

    > .share-text {
      font-weight: $font-weight-light;
      letter-spacing: 0.1px;
      line-height: 1.7;
    }

    > .share-links-list {
      display: inline-flex;
      margin: 10px 0 0;

      @media #{$mq-tablet} {
        margin: 0;
      }

      > .share-link-item {
        height: 25px;

        @media #{$mq-tablet} {
          margin: 0 0 0 15px;
        }

        & + .share-link-item {
          margin: 0 0 0 15px;
        }
      }

      > .share-link-item > .share-link {
        height: 100%;

        > .icon {
          width: 25px;
          height: 100%;
          fill: currentColor;
        }
      }
    }
  }
}
