.c-pre-footer {
  padding: 15px 0;

  @if $theme == 2 or $theme == 3 {
    background-color: rgba($color-6, 0.2);
  }

  @if $theme == 1 {
    background-color: rgba($accent-color, 0.2);
  }

  @media print {
    display: none;
  }
}

.c-footer {
  padding: 15px 0;

  @if $theme == 3 {
    background-color: rgba($color-17, 0.75);
  }

  @if $theme == 2 {
    background-color: $color-6;
  }

  @if $theme == 1 {
    font-size: $font-size-normal;
    background-color: $accent-color;
  }

  @media #{$mq-tablet} {
    height: 50px;
    padding: 0;
  }

  @media print {
    display: none;
  }

  a {
    @if $theme == 2 {
      display: inline;
      padding: 0;
      background-color: transparent;
    }
  }

  > .wrapper {
    height: 100%;

    @if $theme == 3 {
      max-width: $content-width;
      margin: 0 auto;
    }

    @media #{$mq-tablet} {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .separator {
    @if $theme == 2 or $theme == 3 {
      color: $color-4;
    }

    @if $theme == 1 {
      color: rgba($color-3, 0.1);
    }
  }

  .site-links-list {
    > li {
      &:after {
        display: inline-block;
        margin: 0 3px;
        content: "|";

        @if $theme == 1 or $theme == 3 {
          color: rgba($color-3, 0.3);
        }

        @if $theme == 2 {
          color: rgba($accent-color, 0.3);
        }
      }

      &:last-of-type {
        &:after {
          content: none;
        }
      }

      > .site-link {
        @if $theme == 1 or $theme == 3 {
          color: $color-3;
          text-decoration: none;
        }

        @if $theme == 2 {
          color: $accent-color;
        }

        font-weight: $font-weight-light;
        letter-spacing: 0.1px;
        line-height: 1.7;
      }
    }
  }

  .share {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0;

    @media #{$mq-tablet} {
      flex-direction: row;
      margin: 0;
    }

    > .share-text {
      color: $color-3;
      font-weight: $font-weight-light;
      letter-spacing: 0.1px;
      line-height: 1.7;
    }

    > .share-links-list {
      display: inline-flex;
      margin: 10px 0 0;

      @media #{$mq-tablet} {
        margin: 0;
      }

      > .share-link-item {
        height: 25px;

        @media #{$mq-tablet} {
          margin: 0 0 0 15px;
        }

        & + .share-link-item {
          margin: 0 0 0 15px;
        }
      }

      > .share-link-item > .share-link {
        height: 100%;

        > .icon {
          width: 25px;
          height: 100%;

          @if $theme == 2 {
            fill: $accent-color;
          }

          @if $theme == 1 or $theme == 3 {
            fill: $color-3;
          }
        }
      }
    }
  }
}
