.c-header {
  position: relative;
  font-family: $font-family-1; // Needed as the map CSS overrides it
  z-index: 8;

  &.-overflow {
    > .mobile-menu {
      @media #{$mq-navbar} {
        display: flex;
      }
    }
    > mobile-drawer {
      @media #{$mq-navbar} {
        display: block;
      }
    }

    > .desktop-menu {
       @media #{$mq-navbar} {
         display: none;

         .menu {
           display: none;
         }
       }
     }
  }

  @if $theme == 2 {
    color: $color-3;
  } @else {
    color: $color-1;
    font-size: $font-size-normal;
  }

  a {
    @if $theme == 2 {
      background-color: transparent;
    } @else {
      text-decoration: none;
    }
  }

  > .mobile-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 50px;
    // The padding is the same as the one of the wrapper but needs
    // to be repeated as the styles included with the standalone map
    // interferes
    padding: 0 $wrapper-mobile-padding;
    overflow: visible;

    @media #{$mq-mobile} {
      padding: 0 $wrapper-tablet-padding;
    }

    @media #{$mq-tablet} {
      padding: 0 $wrapper-padding;
    }

    @if $theme == 2 {
      background-color: $color-7;
    } @else {
      background-color: $color-1;
    }

    @media #{$mq-navbar} {
      display: none;
    }

    > .logo-container {
      max-width: calc(100% - 63px);
      margin-right: 35px;
      text-transform: uppercase;
      z-index: 1; // Make the logo on top of the flag border

      .logo {
        display: inline-block;
        width: 100%;
        height: 80px;
        padding: 0;

        img {
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .hamburger-menu {
      position: relative;
      top: 50%;
      width: 28px;
      height: 20px;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 12;

      > div {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        transition: transform .3s ease-out, opacity .3s ease-out;
        background-color: $color-3;

        &:first-of-type {
          top: 0;
        }

        &:nth-of-type(2) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:last-of-type {
          bottom: 0;
        }
      }
    }
  }

  > .mobile-drawer {
    position: fixed;
    top:  0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    transition: transform .3s ease-out;
    color: $color-3;
    box-shadow: 1px 0 1px 0 rgba($color-4, .2);
    z-index: 10;
    will-change: transform;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @if $theme == 2 {
      background-color: $color-7;
    } @else {
      background-color: $color-1;
    }

    @media #{$mq-tablet} {
      left: auto;
      right: -33%;
      width: 33%;
    }

    // This media query shouldn't be necessary but as the user could rotate
    // their device while the drawer is open, we want to make sure it's hidden
    // because otherway, they won't be able to close it without rotating back
    @media #{$mq-navbar} {
      display: none;
    }

    a { color: currentColor; }

    ul {
      display: block;
      margin:  0 0 30px;
      padding: 0;
      list-style: none;

      &:last-of-type { margin-bottom: 0; }

      li {
        display: block;
        padding: 10px 0;

        ul {
          padding-left: 15px;
        }
      }

    }

    &.-opened {
      transform: translateX(100%);

      @media #{$mq-tablet} {
        transform: translateX(-100%);
      }

      + .mobile-menu .hamburger-menu {
        position: fixed;
        top: 25px;
        right: 30px;

        > div {
          &:first-of-type {
            transform: translateY(9px) rotate(-45deg);
            transform-origin: center;
          }

          &:nth-of-type(2) {
            opacity: 0;
          }

          &:last-of-type {
            transform: translateY(-8px) rotate(45deg);
            transform-origin: center;
          }
        }
      }
    }

    .c-dropdown-selector {

      > .options {
        padding: 0;
        right: auto;
        box-shadow: none;

        @if $theme == 2 {
          background-color: $color-7;
        } @else {
          background-color: $color-1;
        }

        &::before {
          display: none;
        }

        > .option {
          color: $color-2;

          &:hover {
            @if $theme == 2 {
              background-color: $color-7;
            } @else {
              background-color: $color-1;
            }
          }

          &.-active {
            @if $theme == 2 {
              background-color: $color-7;
            } @else {
              background-color: $color-1;
            }
            opacity: 0.5;
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }

  > .desktop-menu {
    display: none;
    height: 50px;

    @if $theme == 2 {
      background-color: $color-7;
    } @else {
      background-color: $color-3;
    }

    @media #{$mq-navbar} {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    > .logo-container {
      flex-shrink: 0;
      margin-right: 35px;
      text-transform: uppercase;
      z-index: 1; // Make the logo on top of the flag border
      pointer-events: none; // Its overflow the breadcrumbs

      .logo {
        display: inline-block;
        height: 80px;
        padding: 0;
        pointer-events: all; // We want the logo to receive the events

        img {
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    > .menu-container {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    .menu {
      display: flex;
      flex-basis: 100%;
      justify-content: flex-end;

      > ul {
        height: 100%;
        min-width: 45px;
        margin:  0;
        padding: 0;
        list-style: none;

        > li {
          display: inline-block;
          position: relative;
          height: 100%;
          padding: 0 25px;
          line-height: 50px;
          text-transform: uppercase;
          white-space: nowrap;

          > a {
            padding: 0;
          }

          &.-active {
            @if $theme == 2 {
              background-color: rgba($color-3, .1);
            } @else {
              background-color: rgba($color-1, .1);
            }
          }

          // If the menu has just one element (such as the lang selector), we don't want the border
          &:last-of-type {
            &:not(:first-of-type) {
              @if $theme == 2 {
                border-right: 1px solid rgba($color-3, .1);
              } @else {
                border-right: 1px solid rgba($color-1, .1);
              }
            }
          }

          &.dropdown-item {
            cursor: pointer;
            z-index: 1; // On top of the breadcrumbs/section menu
            display: flex;
            flex-direction: column;
            align-items: center;

            ul {
              margin: 5px 0 0;
              width: calc(100% + 30px);
              transition: opacity .2s ease-out, visibility 0s .2s;
              background-color: $color-3;
              list-style: none;
              box-shadow: 0 2px 3px 0 rgba($color-7, .3);
              cursor: auto;
              opacity: 0;
              visibility: hidden;
              display: none; // Also hide paint calculations
              will-change: transform, opacity;

              li {
                display: block;
                border-bottom: 1px solid $color-9;
                text-align: center;
                line-height: 1.3;
                text-transform: none;

                @if $theme == 2 {
                  color: $color-6;
                }

                &:hover {
                  @if $theme == 2 {
                    background-color: $color-8;
                  } @else {
                    background-color: rgba($color-1, .1);
                  }
                }

                a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  padding: 15px 5px;

                  @if $theme == 1 {
                    color: $color-6;
                  }
                }

                &:last-of-type {
                  border: 0;
                }
              }
            }

            &:hover {
              > ul {
                transition: opacity .2s ease-out;
                opacity: 1;
                visibility: visible;
                display: block;
              }
            }

            @if $theme == 2 {
              &.-active {
                > ul {
                  li:first-of-type {
                    background-color: rgba($color-3, .1);
                  }
                }
              }
            }
          }
        }

        &:last-of-type {
          margin: 0;

          > li {
            &:last-of-type {
              padding-right: 0;
              padding-left: 35px;
            }
          }
        }

      }
    }

    .sub-menu {
      display: none;
      flex-basis: 100%;
      height: 0; // Trick so the content will be on top of what's following
      color: $color-3;
      font-size: $font-size-small;

      // Background of the sub-menu (breadcrumbs) menu
      &::after {
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        content: '';

        @if $theme == 2 {
          height: 25px;
          background-color: rgba($color-7, .7);
        } @else {
          top: 50px;
          height: 30px;
          background-color: rgba($color-1, .7);
        }
      }

      @media #{$mq-navbar} {
        display: block;
      }

      a {
        color: $color-3;
      }

      .content {
        display: flex;
        position: relative;
        top: 5px;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        z-index: 1;

        @if $theme == 2 {
          line-height: 25px;
        } @else {
          line-height: 17px;
        }

        > .breadcrumbs {
          height: 100%;

          li {
            height: 100%;
            font-weight: $font-weight-bold;
            text-transform: uppercase;

            @if $theme == 1 {
              padding-top: 2px;
            }

            &:not(:last-of-type):after {
              content: ' > ';
            }
          }
        }

        > .sections {
          display: inline-block;
          height: 100%;

          > ul {
            display: flex;
          }

          li {
            height: 100%;
            padding: 0 14px;
            border-left: 1px solid rgba($color-3, .2);
            letter-spacing: .1px;

            @if $theme == 1 {
              padding-top: 5px;
            }

            &:last-of-type {
              padding-right: 0;
            }

            &.-active {
              @if $theme == 2 {
                background-color: rgba($color-3, .1);
              } @else {
                background-color: rgba($color-1, .1);
              }
            }
          }
        }
      }
    }
  }

  > .flag-border {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: -1;

    @if $theme == 2 {
      background-color: $color-7;
    } @else {
      background-color: $color-1;
    }

    > div {
      flex-grow: 1;

      @if $theme == 1 {
        display: none;
      }
    }
  }
}
