// Background color of the menu
$background-color: red;
@if $header-background-colour == 'dark' {
  @if $header-background-transparency == 'transparent' {
    $background-color: rgba($color-7, .75);
  } @else {
    $background-color: $color-7;
  }
}

@if $header-background-colour == 'grey' {
  @if $header-background-transparency == 'transparent' {
    $background-color: rgba($color-18, .75);
  } @else {
    $background-color: $color-18;
  }
}

@if $header-background-colour == 'white' {
  @if $header-background-transparency == 'transparent' {
    $background-color: rgba($color-3, .75);
  } @else {
    $background-color: $color-3;
  }
}

@if $template == 'india' {
  $background-color: rgba($color-17, 0.75);
}

// Background color of the active menu item or on hover
$active-background-color: red;
@if $header-background-colour == 'dark' or $template == 'india' {
  @if $header-background-transparency == 'transparent' {
    $active-background-color: rgba($color-3, .3);
  } @else {
    $active-background-color: rgba($color-3, .1);
  }
}

@if $header-background-colour == 'grey' {
  @if $header-background-transparency == 'transparent' {
    $active-background-color: rgba($color-4, .3);
  } @else {
    $active-background-color: rgba($color-4, .1);
  }
}

@if $header-background-colour == 'white' {
  @if $header-background-transparency == 'transparent' {
    $active-background-color: rgba($accent-color, .3);
  } @else {
    $active-background-color: rgba($accent-color, 0.1);
  }
}

// Color of the text of the menu items
$color: red;
@if $header-background-colour == 'white' or $header-background-colour == 'grey' {
  $color: $color-6;
}

@if $header-background-colour == 'dark' or $template == 'india' {
  $color: $color-3;
}

// Background color of the flag
$flag-background-color: red;
@if $header-background-colour == 'dark' {
  @if $header-background-transparency == 'transparent' {
    $flag-background-color: rgba($color-7, .75);
  } @else {
    $flag-background-color: $color-7;
  }
}

@if $header-background-colour == 'grey' {
  @if $header-background-transparency == 'transparent' {
    $flag-background-color: rgba($color-18, .75);
  } @else {
    $flag-background-color: $color-18;
  }
}

@if $header-background-colour == 'white' {
  @if $header-background-transparency == 'transparent' {
    $flag-background-color: rgba($accent-color, .75);
  } @else {
    $flag-background-color: $accent-color;
  }
}

@if $template == 'india' {
  $flag-background-color: rgba($color-17, 0.75);
}

// Color of the menu items separators
$separator-color: red;
@if $header-background-colour == 'white' or $header-background-colour == 'grey' {
  @if $header-background-transparency == 'transparent' {
    $separator-color: rgba($color-6, .3);
  } @else {
    $separator-color: rgba($color-6, .1);
  }
}

@if $header-background-colour == 'dark' or $template == 'india' {
  @if $header-background-transparency == 'transparent' {
    $separator-color: rgba($color-3, .3);
  } @else {
    $separator-color: rgba($color-3, .1);
  }
}

// Background color of the sub menu
$submenu-background-color: red;
@if $header-background-colour == 'dark' {
  @if $header-background-transparency == 'transparent' or $header-background-transparency == 'semi' {
    $submenu-background-color: rgba($color-7, .75);
  } @else {
    $submenu-background-color: $color-7;
  }
}

@if $header-background-colour == 'grey' {
  @if $header-background-transparency == 'transparent' or $header-background-transparency == 'semi' {
    $submenu-background-color: rgba($color-18, .75);
  } @else {
    $submenu-background-color: $color-18;
  }
}

@if $header-background-colour == 'white' {
  @if $header-background-transparency == 'transparent' or $header-background-transparency == 'semi' {
    $submenu-background-color: rgba($accent-color, .75);
  } @else {
    $submenu-background-color: $accent-color;
  }
}

@if $template == 'india' {
  $submenu-background-color: rgba($color-17, 0.9);
}

// Background color of the active sub menu item or on hover
$active-submenu-background-color: red;
@if $header-background-colour == 'dark' or $header-background-colour == 'white' or $template == 'india' {
  @if $header-background-transparency == 'transparent' {
    $active-submenu-backgroud-color: rgba($color-3, .3);
  } @else {
    $active-submenu-backgroud-color: rgba($color-3, .1);
  }
}

@if $header-background-colour == 'grey' {
  @if $header-background-transparency == 'transparent' {
    $active-submenu-backgroud-color: rgba($color-4, .3);
  } @else {
    $active-submenu-backgroud-color: rgba($color-4, .1);
  }
}

// Color of the sub menu items separators
$submenu-separator-color: red;
@if $header-background-colour == 'grey' {
  @if $header-background-transparency == 'transparent' {
    $submenu-separator-color: rgba($color-6, .3);
  } @else {
    $submenu-separator-color: rgba($color-6, .1);
  }
}

@if $header-background-colour == 'dark' or $template == 'india' {
  @if $header-background-colour == 'white' or $header-background-transparency == 'transparent' {
    $submenu-separator-color: rgba($color-3, .3);
  } @else {
    $submenu-separator-color: rgba($color-3, .1);
  }
}

.c-header {
  position: relative;
  font-family: $content-font; // Needed as the map CSS overrides it
  z-index: 12;
  width: 100%;

  @if $content-width == 100% {
    background-color: $background-color;
  }

  @if $header-background-transparency == 'transparent' {
    @media #{$mq-navbar} {
      position: absolute;
      top: 0;
    }
  }

  @if $template == 'india' {
    @media #{$mq-navbar} {
      position: absolute;
      top: 0;
      width: 100vw;
    }
  }

  > .mobile-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 50px;
    // The padding is the same as the one of the wrapper but needs
    // to be repeated as the styles included with the standalone map
    // interferes
    padding: 0 $wrapper-mobile-padding;
    overflow: visible;
    background-color: rgba($background-color, 1);

    @media #{$mq-mobile} {
      padding: 0 $wrapper-tablet-padding;
    }

    @media #{$mq-tablet} {
      padding: 0 $wrapper-padding;
    }

    @media #{$mq-navbar} {
      display: none;
    }

    @media print {
      background-color: none !important;
    }

    > .logo-container {
      max-width: calc(100% - 63px);
      margin-right: 35px;
      text-transform: uppercase;
      z-index: 2; // Make the logo on top of the flag border

      .logo {
        display: inline-block;
        width: 100%;
        height: 80px;
        padding: 0;

        img {
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    .hamburger-menu {
      position: relative;
      top: 50%;
      width: 28px;
      height: 20px;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 12;

      @media print {
        display: none;
      }

      > div {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        background-color: $color;

        &:first-of-type {
          top: 0;
        }

        &:nth-of-type(2) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:last-of-type {
          bottom: 0;
        }
      }
    }
  }

  > .mobile-drawer {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    transition: transform 0.3s ease-out;
    color: $color;
    box-shadow: 1px 0 1px 0 rgba($color-4, 0.2);
    z-index: 10;
    will-change: transform;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: rgba($background-color, 1);

    @media #{$mq-tablet} {
      left: auto;
      right: -33%;
      width: 33%;
    }

    // This media query shouldn't be necessary but as the user could rotate
    // their device while the drawer is open, we want to make sure it's hidden
    // because otherway, they won't be able to close it without rotating back
    @media #{$mq-navbar} {
      display: none;
    }

    a {
      color: currentColor;
    }

    ul {
      display: block;
      margin: 0 0 30px;
      padding: 0;
      list-style: none;

      &:last-of-type {
        margin-bottom: 0;
      }

      li {
        display: block;
        padding: 10px 0;

        ul {
          padding-left: 15px;
        }
      }
    }

    &.-opened {
      transform: translateX(100%);

      @media #{$mq-tablet} {
        transform: translateX(-100%);
      }

      + .mobile-menu .hamburger-menu {
        position: fixed;
        top: 25px;
        right: $wrapper-mobile-padding;

        @media #{$mq-mobile} {
          right: $wrapper-tablet-padding;
        }

        @media #{$mq-tablet} {
          right: $wrapper-padding;
        }

        > div {
          &:first-of-type {
            transform: translateY(9px) rotate(-45deg);
            transform-origin: center;
          }

          &:nth-of-type(2) {
            opacity: 0;
          }

          &:last-of-type {
            transform: translateY(-8px) rotate(45deg);
            transform-origin: center;
          }
        }
      }
    }

    .c-dropdown-selector {
      > .active-option:after {
        border-top-color: $color;
        border-right-color: $color;
      }

      > .options {
        padding: 0;
        right: auto;
        box-shadow: none;
        background-color: rgba($background-color, 1);
        border: 1px solid $color;

        &::before {
          display: none;
        }

        > .option {
          color: $color;

          &:hover {
            background-color: rgba($active-background-color, 1);
          }

          &.-active {
            background-color: rgba($active-background-color, 1);

            &::before {
              display: none;
            }
          }
        }
      }
    }

    .profile-image {
      width: 40px;
      height: 40px;
      margin-top: 5px;
      border-radius: 100%;
      background-color: rgba($submenu-background-color, 1);
      background-position: center center;
      background-size: cover;
      color: $color;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
    }
  }

  > .desktop-menu {
    display: none;
    height: 50px;
    background-color: $background-color;

    @if $content-width == 100% or $template == 'india' {
      max-width: 1280px;
      margin: 0 auto;
      background-color: transparent; // The background needs to be set at the top level .c-header
    }

    @if $header-background-transparency == 'solid' {
      margin-bottom: 35px;
    }

    @media #{$mq-navbar} {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    @media print {
      background-color: none !important;
    }

    > .logo-container {
      flex-shrink: 0;
      margin-right: 35px;
      text-transform: uppercase;
      z-index: 2; // Make the logo on top of the flag border
      pointer-events: none; // Its overflow the breadcrumbs

      .logo {
        display: inline-block;
        height: 80px;
        padding: 0;
        pointer-events: all; // We want the logo to receive the events

        img {
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    > .menu-container {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: flex-end;

      @media print {
        display: none;
      }
    }

    .menu {
      display: flex;
      flex-basis: 100%;
      justify-content: flex-end;

      > ul {
        display: flex;
        height: 100%;
        min-width: 45px;
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
          position: relative;
          height: 100%;
          padding: 0 15px;
          line-height: 50px;
          text-transform: uppercase;
          white-space: nowrap;
          color: $color;

          > a {
            padding: 0;
            color: currentColor;
          }

          &.-active {
            background-color: $active-background-color;
          }

          &.dropdown-item {
            cursor: pointer;
            z-index: 2; // On top of the breadcrumbs/section menu
            position: relative;
            align-items: center;

            &.-group {
              cursor: default;
            }

            ul {
              position: absolute;
              right: 0;
              top: 100%;
              width: calc(100% + 30px);
              transition: opacity 0.2s ease-out, visibility 0s 0.2s;
              list-style: none;
              box-shadow: 0 2px 3px 0 rgba($color-7, 0.3);
              cursor: auto;
              opacity: 0;
              visibility: hidden;
              display: none; // Also hide paint calculations
              will-change: transform, opacity;
              background-color: $background-color;

              li {
                display: block;
                text-align: center;
                line-height: 1.3;
                text-transform: none;
                color: $color;
                border-bottom: 1px solid $separator-color;

                &:hover {
                  background-color: $active-background-color;
                }

                a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  padding: 15px 5px;
                  white-space: initial;
                  color: currentColor;
                }

                &:last-of-type {
                  border: 0;
                }
              }
            }

            &:hover {
              > ul {
                transition: opacity 0.2s ease-out;
                opacity: 1;
                visibility: visible;
                display: block;
              }
            }
          }
        }

        // Menu item separator
        @if $header-menu-items-separator == true {
          &:first-of-type > li {
            border-right: 1px solid $separator-color;

            &:first-of-type {
              border-left: 1px solid $separator-color;
            }
          }
        }

        &:last-of-type {
          margin: 0;

          > li {
            &:last-of-type {
              padding-right: 0;
            }
          }
        }
      }

      .profile-image {
        width: 40px;
        height: 40px;
        margin-top: 5px;
        border-radius: 100%;
        background-color: $accent-color;
        background-position: center center;
        background-size: cover;
        color: $color-4;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        font-weight: $font-weight-bold;

        & + ul {
          min-width: 200px;
        }
      }

      li.dropdown-item.search {
        &:hover ul {
          display: none;
        }

        &.-expanded ul {
          display: block;
          opacity: 1;
          visibility: visible;
        }

        ul {
          width: 250px;

          li {
            padding: 15px 10px;
          }
        }

        > button {
          display: inline-block;
          width: 15px;
          height: 15px;
          border: 0;
          text-indent: -10000px;
          cursor: pointer;

          @if $header-background-colour == 'white' or $header-background-colour == 'grey' {
            background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSIgeG1sbnM9Imh0 dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5v ZGQiPjxwYXRoIGQ9Ik02LjUgMTNhNi41IDYuNSAwIDEgMCAwLTEzIDYuNSA2LjUgMCAwIDAgMCAx M3ptMC0yYTQuNSA0LjUgMCAxIDAgMC05IDQuNSA0LjUgMCAwIDAgMCA5eiIgZmlsbD0iIzMzMyIv PjxwYXRoIGQ9Ik0xMC41IDEwLjVMMTQgMTQiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLXdpZHRoPSIy Ii8+PC9nPjwvc3ZnPg==') no-repeat;
          }

          @if $header-background-colour == 'dark' or $template == 'india' {
            background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSIgeG1sbnM9Imh0 dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5v ZGQiPjxwYXRoIGQ9Ik02LjUgMTNhNi41IDYuNSAwIDEgMCAwLTEzIDYuNSA2LjUgMCAwIDAgMCAx M3ptMC0yYTQuNSA0LjUgMCAxIDAgMC05IDQuNSA0LjUgMCAwIDAgMCA5eiIgZmlsbD0iI0ZGRiIv PjxwYXRoIGQ9Ik0xMC41IDEwLjVMMTQgMTQiIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLXdpZHRoPSIy Ii8+PC9nPjwvc3ZnPg==') no-repeat;
          }
        }
      }
    }

    .sub-menu {
      display: none;
      flex-basis: 100%;
      height: 0; // Trick so the content will be on top of what's following
      font-size: $font-size-small;
      z-index: 1; // To be on top of the map's tiles

      @if $header-background-colour == 'grey' {
        color: $color-4;
      } @else {
        color: $color-3;
      }

      // Background of the sub-menu (breadcrumbs) menu
      &::after {
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        height: 30px;
        content: "";
        background-color: $submenu-background-color;

        @if $template == 'india' {
          top: 50px;
        }
      }

      @media #{$mq-navbar} {
        display: block;
      }

      a {
        color: currentColor;
      }

      .content {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        z-index: 1;
        line-height: 25px;

        @if $template == 'default' {
          top: 5px;
        }

        > .breadcrumbs {
          height: 100%;

          li {
            height: 100%;
            text-transform: uppercase;

            @if $template == 'default' {
              padding-top: 2px;
              font-weight: $font-weight-bold;
            } @else {
              font-weight: $font-weight-normal;
            }

            &:not(:last-of-type):after {
              content: " > ";
            }
          }
        }

        > .sections {
          display: inline-block;
          height: 100%;

          > ul {
            display: flex;
          }

          li {
            height: 100%;
            padding: 0 14px;
            padding-top: 5px;
            border-left: 1px solid $submenu-separator-color;
            letter-spacing: 0.1px;

            &:last-of-type {
              padding-right: 0;
            }

            &.-active {
              background-color: $active-submenu-background-color;
            }
          }
        }
      }
    }

    .c-dropdown-selector {
      color: $color;

      .active-option:after {
        border-top-color: $color;
        border-right-color: $color;
      }

      .options {
        background-color: $background-color;

        &:before {
          content: none;
        }

        .option {
          color: $color;

          &.-active {
            background-color: $active-background-color;
            color: $color;

            &:before {
              border-top-color: $color;
              border-right-color: $color;
            }
          }
        }
      }
    }
  }

  > .flag-border {
    display: flex;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: -1;
    background-color: $flag-background-color;

    @if $template == 'india' {
      display: none;
    }

    @media print {
      display: none;
    }

    > div {
      flex-grow: 1;

    }
  }
}

// Map specific styles
// We want to hide the container for now.
.app-header__logo-container {
  display: none;
}
.app-header__title-container {
  display: none;
}
