.c-search-results {
  margin: 30px 0 20px;

  @media #{$mq-tablet} {
    margin: 80px 0 30px;
  }

  &.-standalone {
    // The header is absolutely positioned for
    // some templates so we add its height
    @if $template == 'india' {
      margin-top: 60px;

      @media #{$mq-tablet} {
        margin-top: 160px;
      }
    }
  }

  form {
    max-width: $content-max-width;
    margin: 0 auto 20px;
    text-align: center;

    @media #{$mq-tablet} {
      margin: 0 auto 30px;
    }

    input[type="search"] {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      border: 0;
      font-size: $font-size-big;
      font-family: $content-font;
      font-weight: $font-weight-light;
      color: $color-4;

      @media #{$mq-tablet} {
        display: inline-block;
        width: 480px;
        margin-bottom: 0;
        margin-right: 20px;
        font-size: $font-size-huge;
        vertical-align: middle;
      }
    }
  }

  .results {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      width: 100%;
      margin: 20px 0 0;
      padding: 0;

      &:first-of-type {
        margin: 0;
      }

      @media #{$mq-tablet} {
        width: calc((100% / 2) - (20px / 2));
        margin: 30px 20px 0 0;

        &:nth-child(2n) {
          margin: 30px 0 0;
        }

        &:first-of-type {
          margin: 0 20px 0 0;
        }

        &:nth-child(2) {
          margin: 0;
        }
      }

      @media #{$mq-laptop} {
        width: calc((100% / 3) - (40px / 3));
        margin: 40px 20px 0 0;

        &:nth-child(2n) {
          margin: 40px 20px 0 0;
        }

        &:nth-child(3n) {
          margin: 40px 0 0;
        }

        &:first-of-type,
        &:nth-child(2) {
          margin: 0 20px 0 0;
        }

        &:nth-child(3) {
          margin: 0;
        }
      }

      a {
        display: block;
      }

      h2 {
        margin: 5px 0 0;
        color: $accent-color;
        font-family: $heading-font;
        font-size: $font-size-x-normal;
      }

      p {
        margin: 0;
        color: $color-4;
      }

      .tags {
        font-weight: $font-weight-bold;
        color: $accent-color;
      }

      .thumbnail {
        height: 210px;
        background-color: $color-2;
        background-size: cover;
        background-position: center center;
      }
    }
  }

  .no-result {
    text-align: center;
    font-size: $font-size-x-normal;
    color: rgba($color-4, .4);
  }

  .pagination {
    margin-top: 20px;
    text-align: center;

    .c-button.-arrow-left {
      display: inline-block;
      width: 32px;
      margin-right: 5px;
      vertical-align: middle;
    }

    .c-button.-arrow-right {
      display: inline-block;
      width: 32px;
      margin-left: 5px;
      vertical-align: middle;
    }
  }
}
