.c-standalone-widget {
  height: calc(100vh - 20px);
  padding: 10px 0;

  > div:not([class*="legend"]) {
    height: 100%;
  }

  ul {
    display: revert;

    > li {
      display: revert;
    }
  }
}
