<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <h1>Users</h1>
      <ul class="action-buttons">
        <li><%= link_to 'New user', new_admin_user_step_path, class: 'c-button' %></li>
      </ul>
    </div>
  </div>
<% end %>

<%= include_gon %>

<ul class="c-tabs">
  <li class="tab"><a href="/admin/sites/">Sites</a></li>
  <li class="tab" aria-selected="true"><a href="/admin/users/">Users</a></li>
  <li class="tab"><a href="/admin/map_versions/">Maps</a></li>
</ul>

<%= javascript_pack_tag 'application' %>
<%= react_component('AdminTableView', {
  meta: {
    columns: ['Name', 'Email', 'Role', 'Sites'],
    datapoint: 'users'
  },
  users: @formattedUsers
} ) %>
