<select class="c-site-switcher" {{#if slug}}style="width: {{width}};"{{/if}}>
  <option value="" disabled {{#unless slug}}selected{{/unless}}>Change site</option>
  {{#each sites}}
    <option value="{{slug}}" {{#if active}}selected{{/if}}>{{name}}</option>
  {{/each}}
</select>
