<div class="content">
  <h1>Select a widget</h1>

  <div class="widgets-list">
    <div class="widget">
      <label for="widget-1"></label>
      <input type="radio" id="widget-1" name="widget" value="1" />
      <div class="content">
        <div class="graph js-chart" data-id="1"></div>
        <h3>Widget 1 name</h3>
        <p>Widget's description that can be up to several lines long</p>
      </div>
    </div>
    <div class="widget">
      <label for="widget-2"></label>
      <input type="radio" id="widget-2" name="widget" value="2" />
      <div class="content">
        <div class="graph js-chart" data-id="2"></div>
        <h3>Widget 2 name</h3>
        <p>Widget's description that can be up to several lines long</p>
      </div>
    </div>
    <div class="widget">
      <label for="widget-3"></label>
      <input type="radio" id="widget-3" name="widget" value="3" />
      <div class="content">
        <div class="graph js-chart" data-id="3"></div>
        <h3>Widget 3 name</h3>
        <p>Widget's description that can be up to several lines long</p>
      </div>
    </div>
    <div class="widget">
      <label for="widget-4"></label>
      <input type="radio" id="widget-4" name="widget" value="4" />
      <div class="content">
        <div class="graph js-chart" data-id="4"></div>
        <h3>Widget 4 name</h3>
        <p>Widget's description that can be up to several lines long</p>
      </div>
    </div>
  </div>
</div>

<div class="c-action-bar -embed">
  <div class="wrapper">
    <button type="button" class="c-button -outline -dark-text js-cancel">Cancel</button>
    <button type="submit" class="c-button js-continue">Ok</button>
  </div>
</div>
