{{#unless hideChangeBtn}}
  <button type="button" class="js-change">
    <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg"><title>edit-icon</title><path d="M11.279 0l3.711 3.711-9.278 9.278-3.711-3.71L11.279 0zM1.537 9.742l3.711 3.711-4.392.682.681-4.393z" fill="#FFF" fill-rule="evenodd"/></svg>
    Change image
  </button>
{{/unless}}
<button type="button" class="js-remove">
  <svg width="12" height="16" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg"><title>delete-icon</title><path d="M8 1V0H4v1H0v2h12V1H8zM1 16h10V4H1v12z" fill="#FFF" fill-rule="evenodd"/></svg>
  Remove image
</button>
