<div class="c-chart-widget">
  <div class="chart js-chart"></div>
  <div class="toolbar">
    <div class="js-chart-selector"></div>
    <div class="js-switch-button"></div>
  </div>
  <div id="custom-axis-input-container" class="c-input-search c-fieldset">
  </div>
</div>
