<div class="footer-form">
  <div class="">
    <%= if home
          link_to 'SEE MY SITES', admin_sites_path, class: 'c-button -green'
        else
            f.submit submit_text, class: 'c-button -green'
        end
    %>
    <%= link_to 'CANCEL', admin_sites_path, class: 'c-button -white' %>
  </div>
</div>
