<h1>SITE CREATE!</h1>
<h2>What do you want to do now?</h2>

<%= button_to  @site.url ,'GO TO SITE' %>
<%= button_to new_admin_site_path, 'CREATE A NEW SITE' %>
<%= button_to admin_sites_path, 'SEE MY SITES' %>
