<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <h1>Sites</h1>
      <ul class="action-buttons">
        <li><%= link_to 'New site', new_admin_site_path, class: 'c-button' %></li>
      </ul>
    </div>
  </div>
<% end %>

<%= include_gon %>

<div class="js-tabs"></div>

<div class="l-site-list">
  <div class="wrapper">

    <div class="c-action-toolbar">
      <ul class="buttons">
      </ul>
      <ul class="filters">
        <li><div class="c-input-search js-table-search"></div></li>
      </ul>
    </div>

    <div class="js-table"></div>
  </div>
</div>
