<% content_for :extended_header do %>
  <div class="c-extended-header">
    <div class="wrapper">
      <h1>Sites</h1>
      <ul class="action-buttons">
        <% if @admin %>
          <li><%= link_to 'New site', new_admin_site_step_path, class: 'c-button' %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= include_gon %>

<ul class="c-tabs">
  <li class="tab" aria-selected="true"><a href="/admin/sites/">Sites</a></li>
  <% if @admin %>
    <li class="tab"><a href="/admin/users/">Users</a></li>
    <li class="tab"><a href="/admin/map_versions/">Maps</a></li>
  <% end %>
</ul>

<% if @admin %>
  <% actions =  ['edit', 'delete'] %>
<% else %>
  <% actions =  ['edit'] %>
<% end %>
<%= javascript_pack_tag 'application' %>
<%= react_component('AdminTableView', {
  meta: {
    columns: ['title', 'template', 'preview'],
    actions: actions
  },
  data: @formattedSites
} ) %>
